window#OpenWithApp div.nofile {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

window#OpenWithApp {
  background-color: #0008;
  backdrop-filter: unset;
}

window#OpenWithApp div.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

window#OpenWithApp div.content {
  background-color: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  padding: 15px;
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  width: 450px;
  height: 550px;
}

window#OpenWithApp div.nofile button {
  margin-top: 20px;
}

window#OpenWithApp div.nofile p.title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

window#OpenWithApp > div.body {
  overflow: hidden;
}

window#OpenWithApp div.body > p {
  margin: 10px;
}

window#OpenWithApp input.path {
  width: 100%;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
}

window#OpenWithApp div.options {
  width: 100%;
  height: calc(100% - 85px);
  margin-top: 10px;
  padding: 5px;
  box-sizing: border-box;
}

window#OpenWithApp div.options button {
  display: block;
  width: 100%;
  height: 48px;
  display: flex;
  padding: 2px 5px;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 10px;
  background-color: transparent;
}

window#OpenWithApp div.options hr {
  border: var(--button-bg) 1px solid;
}

window#OpenWithApp div.options button:hover {
  background-color: var(--button-bg);
}

window#OpenWithApp div.options button.selected {
  background-color: var(--button-glass-bg);
}

window#OpenWithApp div.options button.selected div.name {
  margin-top: unset;
}

window#OpenWithApp div.options button.selected div.description {
  opacity: 0.7;
  visibility: visible;
}

window#OpenWithApp div.options button img {
  height: 32px;
  margin: 0px 10px;
  margin-left: 5px;
  vertical-align: middle;
}

window#OpenWithApp div.options button * {
  vertical-align: middle;
}

window#OpenWithApp div.options button > div:not(.id) {
  padding: 6px 0;
}

window#OpenWithApp div.options button div.name {
  font-weight: bold;
  margin-top: 7px;
}

window#OpenWithApp div.options button div.description {
  opacity: 0.6;
  opacity: 0;
  visibility: hidden;
}

window#OpenWithApp div.options button div.id {
  line-height: 44px;
  margin-left: auto;
  margin-right: 10px;
  font-family: "Source Code Pro", monospace;
  opacity: 0.3;
}

window#OpenWithApp > div.body p.title {
  font-size: 15px;
  font-weight: bold;
  margin: 10px 15px;
}

window#OpenWithApp > div.body p.category {
  margin: 10px;
  font-weight: bold;
  opacity: 0.7;
}

window#OpenWithApp > div.body p.noitems {
  opacity: 0.6;
  text-align: center;
  margin: 20px;
  font-style: italic;
}

window#OpenWithApp > div.body div.actions {
  display: grid;
  grid-template-columns: auto auto;
}

window#OpenWithApp > div.body div.actions button {
  height: 35px;
  margin: 5px;
}
