div.startmenu::after {
  content: " ";

  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
}

div.startmenu.colored {
  border: var(--darkened-overlay) 1px solid;
}

div.startmenu.colored::after {
  background-color: var(--accent);
}
