div.exp-newsm-17823 div.startmenu div.right {
  top: 10px;
  right: 10px;
  border-radius: 5px;
  border: var(--win-border-light);
}

div.exp-newsm-17823 div.startmenu.small div.left {
  width: calc(100% - 180px);
}

div.exp-newsm-17823 div.startmenu:not(.small) div.left {
  width: calc(100% - 230px);
}

div.exp-newsm-17823 div.startmenu div.left {
  top: 10px;
  left: 10px;
}

div.exp-newsm-17823 div.startmenu.small div.right,
div.exp-newsm-17823 div.startmenu.small div.left {
  height: calc(100% - 80px);
}

div.exp-newsm-17823 div.startmenu:not(.small) div.left,
div.exp-newsm-17823 div.startmenu:not(.small) div.right {
  height: calc(100% - 95px);
}

div.exp-newsm-17823 div.startmenu div.bottom {
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  border-radius: 5px;
  border: var(--win-border-light);
  align-items: center;
}

div.exp-newsm-17823 div.startmenu div.bottom > * {
  height: fit-content;
}

div.exp-newsm-17823 div.startmenu:not(.small) div.bottom {
  height: 60px;
  padding: 0 20px;
}

div.exp-newsm-17823 div.startmenu div.bottom h1.username {
  display: flex;
  align-items: center;
  gap: 10px;
}

div.exp-newsm-17823 div.startmenu.small {
  width: 420px;
  height: 490px;
}
