.window#AppInfo div.name {
  display: flex;
}

.window#AppInfo div.name img {
  margin: 0 10px;
  height: 32px;
}

.window#AppInfo div.actions {
  margin-left: auto;
  padding: 8px 5px;
}

.window#AppInfo div.name p.appname {
  font-weight: bold;
}

.window#AppInfo div.name p {
  margin: 0;
}

.window#AppInfo div.properties div.property {
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

.window#AppInfo div.properties div.property div.value {
  margin-left: auto;
}

.window#AppInfo div.properties div.property div.value div.controls button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 15px;
  width: 18px;
  height: 18px;
  color: var(--fg);
  transition: opacity 0.2s;
}

.window#AppInfo
  div.properties
  div.property
  div.value
  div.controls
  button:hover {
  opacity: 0.5;
}

.window#AppInfo
  div.properties
  div.property
  div.value
  div.controls
  button:disabled {
  opacity: 0.2;
}

.window#AppInfo hr {
  margin: 5px;
  border: var(--win-border);
}
