window#AppLauncher {
  background-color: #0009;
}

window#AppLauncher div.apps {
  display: grid;
  grid-template-columns: repeat(auto-fit, 110px);
  grid-template-rows: repeat(auto-fit, 110px);
  max-width: 750px;
  margin: 0 auto;
  max-height: 470px;
  overflow-y: auto;
  grid-gap: 10px;
}

window#AppLauncher div.apps button.item {
  background-color: transparent;
  gap: 15px;
  text-align: center;
  height: fit-content;
  margin: 0;
}

window#AppLauncher div.apps button.item img {
  display: block;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 10px;
}

window#AppLauncher div.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

window#AppLauncher div.arcfind-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

window#AppLauncher div.arcfind-wrapper div.arcfind button {
  background-color: transparent;
  border: none;
  color: var(--fg);
  min-width: 48px;
  margin: 0;
  font-size: 18.2px;
}

window#AppLauncher div.arcfind-wrapper div.results {
  background-color: var(--win-bg);
}

window#AppLauncher div.arcfind-wrapper div.results button {
  background-color: transparent;
  margin: 0;
  margin-bottom: 5px;
}
