window#AppLauncher {
  background-color: #0009;
}

window#AppLauncher div.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

window#AppLauncher div.arcfind-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

window#AppLauncher div.arcfind-wrapper div.arcfind button {
  background-color: transparent;
  border: none;
  color: #ccc;
  min-width: 48px;
  margin: 0;
  font-size: 18.2px;
}

window#AppLauncher div.arcfind-wrapper div.results {
  background-color: var(--win-bg);
}

window#AppLauncher div.arcfind-wrapper div.results button {
  background-color: transparent;
  margin: 0;
  margin-bottom: 5px;
}
