.window#AppMan table {
  width: 100%;
}

.window#AppMan table tr td {
  padding-right: 10px;
}

.window#AppMan tr.head * {
  font-weight: bold;
}

.window#AppMan * {
  vertical-align: middle;
}

.window#AppMan table td img.icon {
  height: 24px;
  vertical-align: middle;
}
