window#HelpCenter > div.body {
  display: flex;
  padding: 0;
  border-top: var(--win-border);
}

window#HelpCenter > div.body div.sidebar {
  height: 100%;
  border-left: var(--win-border);
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  overflow-y: scroll;
}

window#HelpCenter > div.body div.article-renderer {
  height: 100%;
  background-color: var(--win-bg);
  flex-grow: 1;
  max-width: calc(100% - 250px);
  padding: 20px;
  box-sizing: border-box;
}

window#HelpCenter > div.body div.sidebar button {
  display: block;
  width: 100%;
  text-align: left;
  margin: 0;
  background-color: transparent;
  padding: 5px;
}

window#HelpCenter > div.body div.sidebar div.indent {
  padding-left: 15px;
}

window#HelpCenter > div.body div.sidebar hr {
  border: var(--button-glass-bg) 1px solid;
  width: 100%;
  margin: 5px 0;
  margin-left: 8px;
  width: calc(100% - 8px);
}
