window#ImageViewer div.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

window#ImageViewer div.body img {
  min-height: 340px;
  object-fit: contain;
  max-width: 70%;
  height: 70%;
  image-rendering: optimizeSpeed;
}
