window#LoggerApp div.body {
  display: flex;
  padding: 0;
}

window#LoggerApp div.sidebar {
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
  border-right: var(--win-border);
  box-sizing: border-box;
  padding: 5px;
  overflow-y: scroll;
  background-color: transparent;
}

window#LoggerApp div.titlebar {
  /* 
  background-color: var(--win-bg); */
  border-bottom: var(--win-border);
  opacity: 1 !important;
}

window#LoggerApp:not(.focused) div.titlebar * {
  opacity: 0.5;
}

div.desktop.bigtitlebars window#LoggerApp div.sidebar {
  padding-top: 45px;
}

div.desktop.bigtitlebars window#LoggerApp div.content {
  padding-top: 40px;
}

window#LoggerApp div.sidebar button {
  display: block;
  margin: 0;
  padding: 5px;
  text-align: left;
  display: flex;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  margin-bottom: 5px;
}

window#LoggerApp div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

window#LoggerApp div.sidebar button.active {
  background-color: var(--button-glass-bg);
}

window#LoggerApp div.sidebar button div:not(.items) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

window#LoggerApp div.sidebar button div.items {
  margin-left: auto;
  opacity: 0.5;
}

window#LoggerApp div.content {
  height: 100%;
  flex-grow: 1;
  box-sizing: border-box;
  padding: 0;
  overflow-y: hidden;
}

window#LoggerApp div.content div.items {
  box-sizing: border-box;
  padding: 5px;
  height: calc(100% - 40px);
  overflow-y: scroll;
  background-color: var(--win-bg);
}

window#LoggerApp div.content div.items.monospace div.logitem div.msg {
  font-family: "Source Code Pro", monospace;
  white-space: pre;
}

window#LoggerApp div.content div.items.cflex {
  display: flex;
  align-items: center;
  justify-content: center;
}

window#LoggerApp div.content div.items div.noitems {
  text-align: center;
}

window#LoggerApp div.content div.items div.noitems img {
  height: 50px;
  margin-bottom: 10px;
}

window#LoggerApp div.content div.actions {
  height: 50px;
  border-bottom: var(--win-border);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}

window#LoggerApp div.content div.actions button.action + button {
  margin-left: 10px;
}

window#LoggerApp div.content div.actions button.action {
  height: 30px;
  margin: 0;
  font-size: 13px;
  padding: 6px 5px;
  background-color: transparent;
  vertical-align: middle;
  display: flex;
  line-height: 18px;
}

window#LoggerApp div.content div.actions button.action:hover {
  background-color: var(--button-glass-bg);
}

window#LoggerApp div.content div.actions button.action:disabled img {
  filter: grayscale(100%);
}

window#LoggerApp div.content div.actions div.sep {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 5px;
  vertical-align: middle;
  border: var(--button-glass-bg) 1px solid;
}

window#LoggerApp div.content div.actions button.action img,
window#LoggerApp div.content div.actions div.static {
  display: flex;
}

window#LoggerApp div.content div.actions button.action img,
window#LoggerApp
  div.content
  div.actions
  button.action
  span.material-icons-round {
  display: block;
  margin: 0 auto;
  height: 18px;
  margin-right: 10px;
}

window#LoggerApp div.content div.actions div.filters {
  margin-left: auto;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--button-glass-bg);
  height: 30px;
  margin: auto;
  margin-right: 0;
}

window#LoggerApp div.content div.actions div.filters button.filter {
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 0;
}

window#LoggerApp
  div.content
  div.actions
  div.filters
  button.filter
  span.material-icons-round {
  font-size: 18px;
}

window#LoggerApp div.content div.actions div.filters button.filter.selected {
  background-color: var(--button-glass-bg);
}

window#LoggerApp div.content div.logitem {
  display: flex;
  padding: 8px;
  border-bottom: var(--button-bg) 1px solid;
}

window#LoggerApp div.content div.logitem > div {
  vertical-align: middle;
  text-align: left;
}

window#LoggerApp div.content div.logitem > div.timestamp {
  min-width: 100px;
  box-sizing: border-box;
  vertical-align: middle;
}

window#LoggerApp div.content div.logitem > div.source {
  width: fit-content;
  min-width: 160px;
  font-family: "Source Code Pro", monospace;
  margin-right: 20px;
}

window#LoggerApp div.content div.logitem > div.source {
  padding: 2.5px 5px;
  border-radius: 5px;
  vertical-align: top;
  background-color: var(--button-bg);
}

window#LoggerApp div.content div.logitem > div.level {
  font-size: 21px;
  margin-right: 10px;
  height: 21px;
  width: 21px;
}

window#LoggerApp div.content div.logitem > div.level.warn,
window#LoggerApp
  div.content
  div.actions
  div.filters
  button.filter.warn.selected {
  color: orange;
}

window#LoggerApp div.content div.logitem > div.level.info,
window#LoggerApp
  div.content
  div.actions
  div.filters
  button.filter.info.selected {
  color: rgb(104, 179, 255);
}

window#LoggerApp div.content div.logitem > div.level.error,
window#LoggerApp
  div.content
  div.actions
  div.filters
  button.filter.error.selected {
  color: tomato;
}

window#LoggerApp div.content div.logitem > div.level.critical,
window#LoggerApp
  div.content
  div.actions
  div.filters
  button.filter.critical.selected {
  color: red;
}
