window#LoggerApp div.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: var(--win-border);
  box-sizing: border-box;
  padding: 35px 5px;
  overflow-y: scroll;
  padding-bottom: 10px;
  background-color: transparent;
}

window#LoggerApp div.titlebar {
  background-color: var(--win-bg);
  border-bottom: var(--win-border);
  opacity: 1 !important;
}

window#LoggerApp:not(.focused) div.titlebar * {
  opacity: 0.5;
}

div.desktop.bigtitlebars window#LoggerApp div.sidebar {
  padding-top: 45px;
}

window#LoggerApp div.sidebar button {
  display: block;
  margin: 0;
  padding: 5px;
  text-align: left;
  display: flex;
  width: 100%;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: transparent;
  margin-bottom: 5px;
}

window#LoggerApp div.sidebar button.active {
  background-color: var(--button-glass-bg);
}

window#LoggerApp div.sidebar button div:not(.items) {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

window#LoggerApp div.sidebar button div.items {
  margin-left: auto;
}

window#LoggerApp div.content {
  position: absolute;
  top: 0px;
  left: 300px;
  height: 100%;
  width: calc(100% - 300px);
  box-sizing: border-box;
  padding: 30px 0;
  overflow-y: hidden;
  background-color: var(--win-bg);
}

window#LoggerApp div.content div.items {
  box-sizing: border-box;
  padding: 5px;
  height: calc(100% - 40px);
  overflow-y: scroll;
}

window#LoggerApp div.content div.actions {
  height: 60px;
  border-bottom: var(--win-border);
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
}

window#LoggerApp div.content div.actions button.action {
  height: 50px;
  margin: 5px;
  font-size: 13px;
  padding: 0 5px;
  background-color: transparent;
  vertical-align: middle;
}

window#LoggerApp div.content div.actions button.action:hover {
  background-color: var(--win-bg);
}

window#LoggerApp div.content div.actions button.action:disabled img {
  filter: grayscale(100%);
}

window#LoggerApp div.content div.actions div.sep {
  display: inline-block;
  width: 1px;
  height: 40px;
  vertical-align: middle;
  border: var(--button-bg) 1px solid;
}

window#LoggerApp div.content div.actions button.action img,
window#LoggerApp div.content div.actions button.action span.material-icons {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  height: 16px;
}

window#LoggerApp div.content div.actions div.filters {
  margin-left: auto;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--button-bg);
  height: 30px;
}

window#LoggerApp div.content div.actions div.filters button.filter {
  margin: 0;
  padding: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  opacity: 0.7;
}

window#LoggerApp div.content div.actions div.filters button.filter.selected {
  opacity: 1;
  background-color: var(--button-hover-bg);
}

window#LoggerApp div.content div.logitem {
  display: flex;
  padding: 8px;
  border-bottom: var(--button-bg) 1px solid;
}

window#LoggerApp div.content div.logitem > div {
  vertical-align: middle;
  text-align: left;
}

window#LoggerApp div.content div.logitem > div.timestamp {
  min-width: 100px;
  line-height: 22px;
  height: 22px;
  vertical-align: middle;
  box-sizing: border-box;
}

window#LoggerApp div.content div.logitem > div.level {
  min-width: 75px;
  font-family: "Source Code Pro", monospace;
  margin-right: 10px;
  max-height: 22px;
  display: block;
}

window#LoggerApp div.content div.logitem > div.source {
  width: fit-content;
  min-width: 160px;
  font-family: "Source Code Pro", monospace;
  margin-right: 20px;
}

window#LoggerApp div.content div.logitem > div.source,
window#LoggerApp div.content div.logitem > div.level {
  padding: 2.5px 5px;
  border-radius: 5px;
  vertical-align: top;
  background-color: var(--button-bg);
}

window#LoggerApp div.content div.logitem > div.level.warn {
  color: orange;
}

window#LoggerApp div.content div.logitem > div.level.info {
  color: dodgerblue;
}

window#LoggerApp div.content div.logitem > div.level.error {
  color: tomato;
}

window#LoggerApp div.content div.logitem > div.level.critical {
  color: red;
}
