div.markdownrenderer h1 {
  margin: 24px 0 16px;
  padding-bottom: 8.4px;
  border-bottom: var(--button-bg) 1px solid;
}

div.markdownrenderer > *:first-child {
  margin-top: 0 !important;
}

div.markdownrenderer h2 {
  margin: 24px 0 16px;
  padding: 0 0 6.3px;
  border-bottom: var(--button-bg) 1px solid;
}

div.markdownrenderer ul {
  min-width: 100%;
  list-style: initial;
  margin: 0 0 16px;
  padding-left: 2em;
}

div.markdownrenderer ul li {
  display: list-item;
  margin: 0;
}
div.markdownrenderer ul li + li {
  margin-top: 0.25em;
}

div.markdownrenderer p {
  margin: 0 0 16px !important;
}

div.markdownrenderer blockquote {
  margin: 0 0 16px;
  padding: 0 14px;
  border-left: var(--button-hover-bg) 0.25em solid;
  opacity: 0.6;
}

div.markdownrenderer pre {
  padding: 16px;
  background-color: var(--button-active-bg);
  line-height: 1.45;
  overflow: auto;
  border-radius: var(--win-border-rad);
}

div.markdownrenderer pre code {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
}

div.markdownrenderer code {
  font-family: "Source Code Pro", monospace !important;
  background-color: var(--button-active-bg);
  padding: 2px;
  border-radius: 5px;
}

div.markdownrenderer table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

div.markdownrenderer table tr {
  background-color: var(--button-active-bg);
  border-top: var(--button-bg) 1px solid;
}
div.markdownrenderer table th,
div.markdownrenderer table td {
  padding: 6px 13px;
  border: 1px solid var(--button-bg);
  text-align: left !important;
}

div.markdownrenderer table tr:nth-child(2n) {
  background-color: var(--button-bg) 1px solid;
}

div.markdownrenderer hr {
  height: 1px;
  padding: 0;
  margin: 15px 0;
  background-color: var(--button-bg);
  border: 0;
}

window#MarkDownViewer div.unreadable {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

window#MarkDownViewer div.unreadable div.content {
  max-width: 270px;
  text-align: center;
}

window#MarkDownViewer div.unreadable div.content h3 {
  margin: 10px;
}

window#MarkDownViewer div.unreadable div.content img {
  height: 48px;
  margin: 0;
}

window#MarkDownViewer div.unreadable div.content p {
  margin: 5px 0;
}
