window#MarkDownViewer h1 {
  margin-bottom: 16px;
  padding-bottom: 8.4px;
  border-bottom: var(--button-bg) 1px solid;
}

window#MarkDownViewer h2 {
  margin: 24px 0 16px;
  padding: 0 0 6.3px;
  border-bottom: var(--button-bg) 1px solid;
}

window#MarkDownViewer div.body ul {
  min-width: 100%;
  list-style: initial;
  margin: 0 0 16px;
  padding-left: 2em;
}

window#MarkDownViewer div.body ul li {
  display: list-item;
  margin: 0;
}
window#MarkDownViewer div.body ul li + li {
  margin-top: 0.25em;
}

window#MarkDownViewer div.body p {
  margin: 0;
  margin-bottom: 16px;
}

window#MarkDownViewer div.body blockquote {
  margin: 0 0 16px;
  padding: 0 14px;
  border-left: var(--button-hover-bg) 0.25em solid;
  opacity: 0.6;
}

window#MarkDownViewer div.body pre {
  padding: 16px;
  background-color: var(--button-active-bg);
  line-height: 1.45;
  overflow: auto;
  border-radius: var(--win-border-rad);
}

window#MarkDownViewer div.body pre code {
  font-family: "Source Code Pro", monospace !important;
}

window#MarkDownViewer div.body table {
  display: block;
  width: 100%;
  width: max-content;
  max-width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

window#MarkDownViewer div.body table tr {
  background-color: var(--button-active-bg);
  border-top: var(--button-bg) 1px solid;
}
window#MarkDownViewer div.body table th,
window#MarkDownViewer div.body table td {
  padding: 6px 13px;
  border: 1px solid var(--button-bg);
  text-align: left !important;
}

window#MarkDownViewer div.body table tr:nth-child(2n) {
  background-color: var(--button-bg) 1px solid;
}

window#MarkDownViewer div.body hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: var(--button-bg);
  border: 0;
}
