@import url("./settings/themes.css");
@import url("./settings/sidebar.css");
@import url("./settings/titlebar.css");
@import url("./settings/content.css");
@import url("./settings/section.css");
@import url("./settings/animation.css");

window#SettingsApp hr {
  border: var(--button-bg) 1px solid;
  max-width: 610px;
}
window#SettingsApp h3.header {
  margin-bottom: 10px;
}

window#SettingsApp p.context {
  margin-bottom: 10px;
}

window#SettingsApp div.overlay-wrapper#pfpSel window.overlay div.body {
  overflow: hidden;
}

window#SettingsApp h1.page-title {
  max-width: 610px;
}
