window#TextEditor textarea {
  width: 100%;
  height: calc(100% - 25px);
  resize: none;
  display: block;
  background-color: transparent;
  border: none;
  color: var(--fg);
  font-family: "Source Code Pro", monospace;
  box-sizing: border-box;
  background-color: var(--win-bg);
  padding: 5px;
}

window#TextEditor div.actions {
  height: 40px;
  border-bottom: var(--win-border);
  padding: 5px;
  display: flex;
}

window#TextEditor div.actions button {
  height: 30px;
  width: 30px;
  padding: 0;
  margin: 0;
  font-size: 19px;
  background-color: transparent;
}

window#TextEditor div.actions div.right {
  margin-left: auto;
}
window#TextEditor div.actions div.right button.markdown-open {
  padding: 2.5px 0;
  line-height: 30px;
}

window#TextEditor div.actions div.right button.markdown-open img {
  height: 18px;
}

window#TextEditor div.actions button:hover {
  background-color: var(--button-glass-bg);
}

window#TextEditor div.actions button:active {
  background-color: var(--button-glass-active-bg);
}

window#TextEditor div.body {
  padding: 0px;
}

window#TextEditor div.content {
  height: calc(100% - 40px);
  width: 100%; /* 
  background-color: var(--win-bg); */
}
window#TextEditor div.content div.bottom {
  height: 25px;
  border-top: var(--win-border);
  line-height: 15px;
  display: flex;
}

window#TextEditor div.content div.bottom div.right {
  display: flex;
  margin-left: auto;
  width: 75%;
}

window#TextEditor div.content div.section {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 24px;
  padding: 5px 7.5px;
  border-left: var(--button-bg) 1px solid;
}

window#TextEditor div.saving-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--darkened-overlay-alt);
  display: flex;
  justify-content: center;
  align-items: center;
}

window#TextEditor div.saving-wrapper div.saving-content {
  display: flex;
  padding: 10px;
  width: 350px;
  height: 52px;
  line-height: 32px;
  border: var(--win-border);
  background-color: var(--win-bg);
  border-radius: var(--win-border-rad);
}
window#TextEditor div.saving-wrapper div.saving-content img:not(.spinner-svg) {
  height: 32px;
  width: 32px;
}

window#TextEditor div.saving-wrapper div.saving-content p {
  margin: 0 15px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
