div.taskbar-v.docked {
  left: 0px;
  top: 0px;
  border-radius: 0;
  height: 100%;
}

div.taskbar-v.right.docked {
  border-top: none;
  border-right: none;
  border-bottom: none;
  right: 0px;
}

div.taskbar-v.docked:not(.right) {
  border-top: none;
  border-left: none;
  border-bottom: none;
}
