div.taskbar-v div.tray {
  margin-top: auto;
}

div.taskbar-v div.tray img {
  height: 16px;
  margin: 0px 5px;
}

div.taskbar-v div.tray button.icon {
  width: 43px;
  height: 36px;
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--fg);
  vertical-align: top;
}

div.taskbar-v div.tray button.icon:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.taskbar-v div.tray button.icon:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.taskbar-v div.tray button.icon.committer {
  animation: opacity infinite 0.75s;
}

div.taskbar-v div.tray button.icon.committer.inactive {
  animation: unset;
  opacity: 0.2;
  filter: grayscale(100%);
}

div.taskbar-v div.tray span.material-icons {
  font-size: 16px;
  margin: 0px 5px;
}

div.taskbar-v div.tray div.clock {
  line-height: inherit;
  height: inherit;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

div.taskbar-v div.tray button.ac-open {
  background-color: transparent;
  color: var(--fg);
  border: none;
  height: inherit;
  margin: 0;
  padding: 0 12px;
  font-size: 18px;
  height: 44px;
}

div.taskbar-v div.tray button.ac-open:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.taskbar-v div.tray button.ac-open:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.taskbar-v div.tray button.ac-open.opened {
  background-color: var(--startmenu-applist-item-bg-active);
  color: var(--accent);
}
