div[class*="tb-vertical"] div.taskbar {
  bottom: 10px;
  height: calc(100% - 20px);
  width: 45px;
  transition: all 0.3s !important;
}

div[class*="tb-vertical"] div.taskbar.docked {
  left: 0px;
  bottom: 0px;
  width: 45px !important;
  height: 100%;
  border: transparent 1px solid !important;
}

div.tb-vertical-right div.taskbar.docked {
  left: unset !important;
  right: 0px;
}

div.tb-vertical-right div.taskbar {
  right: 10px;
  left: unset;
}

div[class*="tb-vertical"] div.taskbar div.tray {
  top: unset;
  bottom: 5px;
  left: 0px;
  width: 45px;
}

div[class*="tb-vertical"] div.taskbar div.tray button.icon {
  width: 43px;
  margin: unset;
}

div[class*="tb-vertical"] div.taskbar div.tray div.clock {
  font-size: 11px;
  text-align: center;
  width: 43px;
  height: 25px;
  padding: 0;
  margin: 0;
}

div[class*="tb-vertical"] div.taskbar button.start {
  height: 45px;
}

div[class*="tb-vertical"] div.taskbar div.buttons {
  display: block;
  position: static;
  margin-left: unset;
  width: 45px;
}

div[class*="tb-vertical"] div.taskbar div.buttons button {
  margin: 0;
  width: 45px;
  margin: 0 -1px;
  border-bottom: unset;
  border-left: transparent 1px solid;
  padding-left: 6.5px;
}

div[class*="tb-vertical"] div.taskbar div.buttons button span {
  display: none !important;
}

div[class*="tb-vertical"] div.taskbar div.buttons button.activated {
  border-left: var(--accent) 1px solid;
  border-bottom: unset;
}

div[class*="tb-vertical"] div.taskbar.centered div.buttons {
  transform: unset !important;
}
