div.serverselect div.selector {
  background-color: var(--win-bg);
  width: 400px;
  min-height: 400px;
  max-height: 400px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div.serverselect div.selector button {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  border: none;
  margin: none;
  padding: 10px;
  color: var(--fg);
  background-color: transparent;
  border-radius: 5px;
}

div.serverselect div.selector button.selected {
  background-color: var(--button-glass-bg);
}

div.serverselect div.selector div.options button + button {
  margin-top: 10px;
}

div.serverselect div.selector button:hover {
  background-color: var(--button-glass-bg);
}

div.serverselect div.selector button p {
  margin: 0;
}

div.serverselect div.selector button span.material-icons-round {
  margin-left: auto;
}

div.serverselect div.selector div.options {
  min-height: calc(100% - 70px);
  max-height: calc(100% - 70px);
  overflow-y: auto;
  padding: 20px;
}
