div.newlogin div.background {
  background-image: url("../../assets/bg/img15.jpg");
  background-position: center;
  background-size: cover;
  transition: transform 0.6s;
}

div.newlogin div.background.zoom {
  transform: scale(1.2);
  filter: brightness(0.9);
}
