div.newlogin div.field-wrapper {
  display: flex;
  align-items: center;
  gap: 0;
  height: 38px;
  border: var(--button-glass-bg) 1px solid;
  background-color: #ffffff11;
  overflow: hidden;
  border-radius: 10px;
  backdrop-filter: blur(var(--glass-blur));
  width: 220px;
  margin: 0 auto;
}

div.newlogin div.field-wrapper + div.field-wrapper {
  margin-top: 10px;
}

div.newlogin div.field-wrapper > * {
  margin: 0;
  height: 38px;
}

div.newlogin div.field-wrapper button {
  width: 38px;
  padding: 0;
  min-width: unset;
  margin: 0;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  border-left: var(--button-glass-bg) 1px solid;
  transform: unset;
}

div.newlogin div.field-wrapper button:disabled,
div.newlogin div.field-wrapper button:active {
  color: #ccc4;
}

div.newlogin div.field-wrapper button:hover {
  background-color: #ffffff07;
}

div.newlogin div.field-wrapper input {
  border: none; /* 
  background-color: #fff2; */
  background-color: transparent;
  background-color: #ffffff07;
  padding: 0 10px;
  flex-grow: 1;
}
