window div.titlebar div.centeredtitle {
  position: absolute;
  top: 0px;
  left: 0px;
  width: inherit;
  height: inherit;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  padding: 6px 5px;
}

window div.titlebar.centered div.centeredtitle {
  opacity: 1;
  visibility: visible;
}

window div.titlebar.centered p.title span {
  color: transparent;
  visibility: hidden;
  max-width: 0;
  overflow: hidden;
}

window div.titlebar.centered p.title img.icon {
  margin-right: 0;
}

div.bigtitlebars window div.titlebar.centered div.centeredtitle {
  height: 17px;
  margin: 5px 0;
}
