window div.titlebar p.title {
  margin: 0;
  border-radius: 5px;
  padding: 1px 5px;
  background-color: var(--win-bg);
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
}

window div.titlebar p.title * {
  vertical-align: middle;
  line-height: 18px;
  font-size: 12px;
}

window div.titlebar p.title img.icon {
  height: 14px;
  margin: 2px 3px;
  margin-left: 0;
}

div.bigtitlebars window div.titlebar img.icon {
  height: 16px;
  margin: 0;
  margin-right: 5px;
}
