div.taskbar-h div.buttons {
  height: 43px;
  box-sizing: border-box;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

div.taskbar-h.centered div.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

div.taskbar-h div.buttons button {
  width: 35px;
  height: 35px;
  border: none;
  background-color: transparent;
  padding: 0 10px;
  color: var(--fg);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
}

div.taskbar-h div.buttons button.activated {
  background-color: var(--button-glass-bg);
}

div.taskbar-h:not(.top) div.buttons button.activated::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  opacity: 0.2;
  border-radius: inherit;
  z-index: -1;
}

div.taskbar-h.top div.buttons button {
  border-top: transparent 2px solid;
}

div.taskbar-h div.buttons button:has(span) {
  width: fit-content;
}

div.taskbar-h div.buttons button.minimized {
  opacity: 0.5;
}

div.taskbar-h div.buttons button:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.taskbar-h div.buttons button:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.taskbar-h div.buttons button img {
  height: 20px;
}

div.taskbar-h div.buttons button img + span {
  margin-left: 10px;
}

div.taskbar-h div.buttons button span {
  vertical-align: middle;
}
