div.taskbar-h.docked {
  left: 0px;
  width: 100%;
  border-radius: 0;
  height: 46px;
}

div:not([class*="tb-top"]) div.taskbar-h.docked {
  bottom: 0px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

div[class*="tb-top"] div.taskbar-h.docked {
  top: 0px;
  border-left: none;
  border-right: none;
  border-top: none;
}
