div.taskbar-h div.tray {
  margin-left: auto;
  height: calc(100% + 1px);
  margin-top: -1px;
  display: flex;
  align-items: center;
  gap: 10px;
}

div.taskbar-h div.tray img {
  height: 16px;
  margin: 0px 5px;
}

div.taskbar-h div.tray button.icon {
  width: fit-content;
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--fg);
  vertical-align: middle;
  line-height: 0px;
  height: 100%;
}

div.taskbar-h div.tray button.icon:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.taskbar-h div.tray button.icon:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.taskbar-h div.tray button.icon.committer {
  animation: opacity infinite 0.75s;
}

div.taskbar-h div.tray button.icon.committer.inactive {
  animation: unset;
  opacity: 0.2;
  filter: grayscale(100%);
}

div.taskbar-h div.tray span.material-icons {
  font-size: 16px;
  margin: 0px 5px;
}

div.taskbar-h div.tray div.clock {
  text-align: center;
  font-size: 12px;
  margin-left: 10px;
  height: inherit;
  display: flex;
  align-items: center;
}

div.taskbar-h div.tray button.ac-open {
  background-color: transparent;
  color: var(--fg);
  border: none;
  height: inherit;
  margin: 0;
  padding: 0 12px;
  font-size: 18px;
  width: 43px;
  border-radius: var(--win-border-rad);
}

div.taskbar-h div.tray button.ac-open:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.taskbar-h div.tray button.ac-open:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.taskbar-h div.tray button.ac-open.opened {
  background-color: var(--startmenu-applist-item-bg-active);
  color: var(--accent-light);
}
