div.fts div.right.connecttocloud p.connect-attempt-header {
  margin: 0;
  margin-top: 10px;
  font-weight: bold;
}
div.fts div.right.connecttocloud ul.connect-attempt-list li {
  margin: 0;
  margin-bottom: 3px;
}

div.fts div.right.connecttocloud p.connect-error {
  color: tomato;
  margin-top: 15px;
  text-align: center;
}
div.fts div.right.connecttocloud p.connect-error * {
  vertical-align: middle;
  color: tomato;
}

div.fts div.right.connecttocloud p.connect-error span.material-icons-round {
  font-size: 21px;
}
