div.login-loading input.field {
  height: 38px;
  border: var(--button-glass-bg) 1px solid;
  background-color: #ffffff11;
  overflow: hidden;
  border-radius: 10px;
  backdrop-filter: blur(var(--glass-blur));
  display: block;
  margin: 0 auto;

  margin-bottom: 10px;
  width: 220px;
  padding: 0 10px;
}
