@import url("./bar/opened.css");
@import url("./bar/trigger.css");

div.launcher-bar {
  position: absolute;
  bottom: -90px;
  opacity: 0;
  visibility: hidden;
  height: 60px;
  min-width: 25%;
  left: 50%;
  transform: translate(-50%) scale(0.8);
  background-color: var(--glass-ultradark);
  border: var(--win-border-light);
  border-radius: 15px;
  padding: 10px;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  box-shadow: 0px 5px 15px 5px #0003;
  display: flex;
  gap: 10px;
  transition: all 0.4s, color 0.1s, background-color 0.3s !important;
  overflow: hidden;
}

div.launcher-bar.visible {
  bottom: 20px;
  visibility: visible;
  opacity: 1;
  transform: translate(-50%) scale(1);
}
/* 
div.desktop.theme-light div.launcher-bar,
div.desktop.theme-light div.launcher-topbar {
  background-color: #fffa;
  color: #222;
} */

div.launcher-bar button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.launcher-bar button:hover {
  background-color: var(--button-glass-bg);
}

div.launcher-bar button:active {
  background-color: var(--button-glass-active-bg);
}

div.launcher-bar button img {
  height: 24px;
}

div.launcher-bar > button.apps {
  background-color: var(--button-glass-bg);
  padding: 0;
}

div.launcher-bar > button.apps > img {
  height: 28px;
}
