div.launcher-topbar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 32px;
  background-color: var(--glass-ultradark);
  border: var(--win-border-light);
  border-radius: 5px;
  display: flex;
  backdrop-filter: blur(var(--glass-blur));
}

div.launcher-topbar:not(.visible) {
  top: -40px !important;
}

div.launcher-topbar.docked {
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 0;
}

div.launcher-topbar div.tray {
  margin-left: auto;
  padding-right: 13px;
  display: flex;
  align-items: center;
  gap: 13px;
}
div.launcher-topbar div.tray {
  margin-left: auto;
}

div.launcher-topbar div.tray img {
  height: 18px;
  margin: 0px;
}

div.launcher-topbar div.tray button.icon {
  width: fit-content;
  height: 28px;
  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--fg);
  vertical-align: middle;
  line-height: 0px;
  width: fit-content;
}

div.launcher-topbar div.tray button.icon:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.launcher-topbar div.tray button.icon:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.launcher-topbar div.tray button.icon.committer {
  animation: opacity infinite 0.75s;
}

div.launcher-topbar div.tray button.icon.committer.inactive {
  animation: unset;
  opacity: 0.2;
  filter: grayscale(100%);
}

div.launcher-topbar div.tray span.material-icons {
  font-size: 18px;
  margin: 0px 5px;
}

div.launcher-topbar div.tray button.ac-open {
  color: var(--fg);
  background-color: transparent;
  border: none;
  height: inherit;
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: 30px;
}

div.launcher-topbar div.tray button.ac-open:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.launcher-topbar div.tray button.ac-open:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.launcher-topbar div.tray button.ac-open.opened {
  filter: var(--elevated-accent-filter);
  color: var(--accent);
}
