@import url("./topbar/tray.css");
@import url("./topbar/docked.css");
@import url("./topbar/clock.css");
@import url("./topbar/currentapp.css");

div.launcher-topbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 0;
  height: 32px;
  background-color: var(--startmenu-bg);
  display: flex;
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
}

div.launcher-topbar:not(.visible) {
  top: -40px !important;
}
