div.about-page div.product {
  display: flex;
  width: 100%;
  margin: 0px 0;
}

div.about-page div.product div {
  height: fit-content;
  vertical-align: middle;
}

div.about-page div.product h1 {
  margin: 0 !important;
  line-height: 60px;
}

div.about-page div.product div.text {
  text-align: right;
}

div.about-page div.product img.logo {
  height: 60px;
}

div.about-page h3.header {
  margin-bottom: 5px !important;
}

div.about-page div.devmode button.devmode {
  display: inline-block;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 15px 5px !important;
}
