window#SettingsApp div.settingspage-account div.info {
  display: flex;
}

window#SettingsApp div.settingspage-account div.info div div.pfp {
  border-radius: 50%;
  height: 52px;
  width: 52px;
  margin-right: 15px;
}

window#SettingsApp div.settingspage-account div.info div button.change {
  width: 29px;
  height: 29px;
  font-size: 16px;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  position: absolute;
  left: 28px;
  top: 28px;
  background-color: var(--button-bg);
  border: var(--win-bg) 2px solid;
}

window#SettingsApp div.settingspage-account div.info div button.change:hover {
  background-color: var(--button-hover-bg);
}

window#SettingsApp div.settingspage-account div.info div button.change:active {
  background-color: var(--button-active-bg);
}

window#SettingsApp div.settingspage-account div.info div p.username {
  font-weight: bold;
  font-size: 23px;
  margin: 0;
}

window#SettingsApp div.settingspage-account div.info div p.host {
  opacity: 0.5;
}

window#SettingsApp div.settingspage-account div.profile-selector {
  display: grid;
  grid-template-columns: repeat(10, 60px);
  grid-template-rows: repeat(3, 60px);
}

window#SettingsApp div.settingspage-account div.profile-selector button {
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  filter: brightness(0.6);
}

window#SettingsApp
  div.settingspage-account
  div.profile-selector
  button.selected {
  filter: unset;
}

window#SettingsApp div.settingspage-account div.profile-selector button img {
  height: 50px;
  width: 50px;
}
window#SettingsApp div.settingspage-account div.currentpfp {
  height: 150px;
  display: block;
  margin: 30px 5px;
  margin-top: 11px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  aspect-ratio: 16 / 9;
  border: #000 10px solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../../../../assets/bg/img09.png");
}

window#SettingsApp div.settingspage-account div.currentpfp img {
  height: 40px;
  border-radius: 50%;
}

window#SettingsApp div.settingspage-account div.currentpfp p.uname {
  font-size: 11px;
  font-weight: bold;
}
