window#SettingsApp div.page-apps {
  display: flex;
  flex-direction: column;
  height: calc(100% + 30px);
  margin: -15px;
}

window#SettingsApp div.apps {
  max-height: calc(100% - 50px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-template-rows: repeat(auto-fit, 60px);
  flex-grow: 1;
  padding: 15px;
}

window#SettingsApp div.apps button.appbutton.disabled {
  opacity: 0.5;
  filter: grayscale(100%);
}

window#SettingsApp div.apps button.appbutton {
  text-align: left;
  height: 50px;
  /* background-color: transparent; */
  padding: 9px 10px;
  display: flex;
  margin: 0;
  margin-bottom: 10px;

  margin-right: 10px;
}

window#SettingsApp div.apps button.appbutton * {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

window#SettingsApp div.apps button.appbutton img.icon {
  min-width: 32px;
  height: 32px;
  margin-right: 10px;
}

window#SettingsApp div.apps button.appbutton div.info p.title {
  font-weight: bold;
}

window#SettingsApp div.apps button.appbutton div.info p {
  margin: 0;
}
window#SettingsApp div.apps button.appbutton div.info p.description {
  opacity: 0.5;
}
window#SettingsApp div.bottom {
  display: flex;
  border-top: var(--win-border);
  align-items: center;
  height: 50px;
  padding: 0 15px;
}

window#SettingsApp span.right {
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}
