window#SettingsApp div.page-bugreports {
  padding-top: 20px;
}
window#SettingsApp div.page-bugreports button.report {
  display: flex;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0 5px;
  line-height: 50px;
  gap: 10px;
  align-items: center;
  margin: 0;
  /* max-width: 460px; */
  background-color: transparent;
  border-bottom: var(--button-bg) 1px solid;
  transform: unset;
  border-radius: 0;
}

window#SettingsApp div.page-bugreports button.report.deleted {
  color: var(--clr-red-fg);
}

window#SettingsApp div.page-bugreports button.report:active {
  opacity: 0.5;
}

window#SettingsApp div.page-bugreports button.report p {
  margin: 0;
}

window#SettingsApp div.page-bugreports button.report p.id {
  margin-left: auto;
  font-family: "Source Code Pro", monospace;
  opacity: 0.5;
  max-width: 6em;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

window#SettingsApp div.page-bugreports button.report div.status {
  margin: 0 5px;
}

window#SettingsApp div.page-bugreports button.report img {
  height: 20px;
}
