window#SettingsApp div.desktop-page div.wallpaper {
  height: 65px;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  vertical-align: middle;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  line-height: 70px;
}

window#SettingsApp div.desktop-page div.wallpaper span.material-icons-round {
  font-size: 24px;
}

window#SettingsApp
  div.desktop-page
  div.wallpaper
  span.material-icons-round.none {
  color: rgb(255, 79, 79);
}

window#SettingsApp div.desktop-page p {
  margin: 10px 0;
}

window#SettingsApp div.desktop-page div.wallpaper:hover {
  filter: brightness(0.7);
}

window#SettingsApp div.desktop-page div.wallpaper:active {
  filter: brightness(0.4);
}

window#SettingsApp div.desktop-page div.wallpaper.selected {
  filter: brightness(1.5);
}

window#SettingsApp div.desktop-page div.wallpaper.customwp {
  vertical-align: middle;
  background-color: var(--button-glass-active-bg);
  text-align: center;
  line-height: 70px;
  font-size: 24px;
}

window#SettingsApp div.desktop-page div.wallpaper.customwp:hover {
  color: var(--accent);
  filter: var(--elevated-accent-filter);
}

window#SettingsApp div.desktop-page div.current {
  height: 150px;
  display: block;
  margin: 15px 0px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  aspect-ratio: 16 / 9;
  border: #000 10px solid;
  position: relative;
}

window#SettingsApp div.desktop-page div.current div.fake-taskbar {
  background-color: var(--glass-ultradark);
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 15px;
  border-radius: 3px;
  backdrop-filter: blur(var(--glass-blur));
  border: var(--win-border-light);
}

window#SettingsApp div.desktop-page div.current div.fake-taskbar.docked {
  bottom: 0px;
  left: 0px;
  width: 100%;
  border-radius: 0;
}

window#SettingsApp
  div.desktop-page
  div.current
  div.fake-taskbar.colored::after {
  content: " ";

  border-radius: inherit;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  margin: -1px;
}
/* 
window#SettingsApp div.desktop-page div.current div.fake-taskbar.colored {
  border: var(--glass-ultradark) 1px solid;
} */

window#SettingsApp
  div.desktop-page
  div.current
  div.fake-taskbar.colored::after {
  background-color: var(--accent);
}

window#SettingsApp div.desktop-page div.current div.fake-window {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 60px;
  border-radius: 3px;
  background-color: var(--win-bg);
  border: var(--win-border);
  padding: 3px;
  box-sizing: border-box;
  font-size: 5px;
}

window#SettingsApp div.desktop-page div.current div.fake-window::after {
  position: absolute;
  content: " ";
  width: 25px;
  height: 7px;
  background-color: var(--accent);
  bottom: 8px;
  right: 8px;
  border-radius: 5px;
}

window#SettingsApp
  div.desktop-page
  div.current
  div.fake-window
  div.fake-titlebar {
  height: 10px;
  font-weight: bold;
}

window#SettingsApp div.desktop-page div.wallpapers {
  max-width: 100%;
  overflow-x: scroll;
  white-space: normal;
  display: grid;
  grid-template-columns: repeat(5, 80px);
}
