window#SettingsApp window.overlay#saveTheme div.top {
  display: flex;
  align-items: center;
}

window#SettingsApp window.overlay#saveTheme div.current {
  border: #000 5px solid !important;
  height: 120px;
  border-radius: 5px;
  position: relative;
  margin: 0;
}

window#SettingsApp window.overlay#saveTheme > div.body {
  display: flex;
  flex-direction: column;
  padding: 0;
}

window#SettingsApp window.overlay#saveTheme div.desktop-page {
  padding: 15px;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-taskbar {
  border: none;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-window * {
  display: none;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-window {
  position: absolute;
  bottom: 30px;
  right: 10px;
  top: unset;
  left: unset;
  height: 50px;
  width: 50px;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-window::after {
  width: 20px;
  height: 5px;
  border-radius: 2.5px;
}

window#SettingsApp window.overlay#saveTheme div.form {
  flex-grow: 1;
  margin: 0;
  padding: 15px;
  border-right: var(--button-bg) 1px solid;
  height: 100%;
  display: flex;
  flex-direction: column;
}

window#SettingsApp window.overlay#saveTheme div.form h3 {
  margin: 0;
}

window#SettingsApp window.overlay#saveTheme div.form input {
  width: 100%;
  margin-top: auto;
}

window#SettingsApp window.overlay#saveTheme div.form p {
  opacity: 0.6;
}

#SettingsApp #saveTheme div.actions {
  display: flex;
  margin: 0;
  justify-content: flex-end;
  border-top: var(--win-border);
  padding: 10px;
  background-color: var(--button-glass-bg);
}

#SettingsApp #saveTheme div.actions div.inner {
  margin: 0;
  display: flex;
  gap: 10px;
  margin-left: auto;
}
#SettingsApp #saveTheme div.actions div.inner button {
  min-width: 70px;
  margin: 0;
}
