window#SettingsApp window.overlay#saveTheme div.current {
  border: #000 5px solid !important;
  height: 80px;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
}

window#SettingsApp window.overlay#saveTheme div.body {
  display: flex;
}

window#SettingsApp window.overlay#saveTheme div.desktop-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-taskbar {
  display: none;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-window * {
  display: none;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-window {
  position: absolute;
  bottom: 7.5px;
  right: 7.5px;
  top: unset;
  left: unset;
  height: 50px;
  width: 50px;
}

window#SettingsApp window.overlay#saveTheme div.current div.fake-window::after {
  width: 30px;
  border-radius: 2px;
}

window#SettingsApp window.overlay#saveTheme div.form {
  flex-grow: 1;
  padding: 0 10px;
  padding-right: 20px;
  margin: 10px;
  margin-right: 20px;
  margin-left: 0;
  border-right: var(--button-bg) 1px solid;
}

window#SettingsApp window.overlay#saveTheme div.form h3 {
  margin: 0;
}

window#SettingsApp window.overlay#saveTheme div.form input {
  width: 100%;
  margin-top: 10px;
}

window#SettingsApp window.overlay#saveTheme div.form p {
  opacity: 0.6;
}

window#SettingsApp window.overlay#saveTheme div.form div.actions button {
  margin: 0;
  margin-top: 25px;
  margin-right: 5px;
  margin-bottom: 0;
}
