div.newtb.colored {
  border: var(--accent-dark) 1px solid;
}

div.newtb::after {
  content: " ";

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
}

div.newtb.colored::after {
  background-color: var(--accent);
}
