div.newtb.colored {
  border: transparent 0px solid !important;
  /* border-top: transparent 1px solid !important; */
}

div.newtb::after {
  content: " ";

  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
}

div.newtb.colored::after {
  background-color: var(--accent);
}
