@import url("./horizontal/tray.css");
@import url("./horizontal/appbuttons.css");
@import url("./horizontal/docked.css");

div.taskbar-h:not(.top) {
  bottom: 10px;
}

div.taskbar-h {
  width: calc(100% - 20px);
  height: 47px;
  align-items: center;
  padding-left: 5px;
}

div.taskbar-h:not(.visible) {
  opacity: 0;
  visibility: hidden;
}

div[class*="tb-top"] div.taskbar-h {
  top: 10px;
}

div[class*="tb-top"] div.taskbar-h.docked.colored {
  border-bottom: var(--accent-light-transparent) 1px solid;
}

div[class*="tb-top"] div.taskbar-h.docked {
  border-bottom: var(--glass-alt-bg) 1px solid;
}
