@import url("./vertical/tray.css");
@import url("./vertical/docked.css");
@import url("./vertical/appbuttons.css");

div.taskbar-v {
  top: 10px;
  width: 46px;
  height: calc(100% - 20px);
  flex-direction: column;
  padding-top: 5px;
  justify-content: center;
  align-items: center;
}

div.taskbar-v:not(.visible) {
  opacity: 0;
  visibility: hidden;
}

div.taskbar-v.right {
  left: unset;
  right: 10px;
}

div.taskbar-v button.start {
  width: 100% !important;
  margin-right: 0 !important;
  margin-bottom: 5px !important;
  width: 35px !important;
}
