@import url("./actioncenter/launcher.css");
@import url("./actioncenter/colored.css");
@import url("./actioncenter/vertical.css");
@import url("./actioncenter/docked.css");
@import url("./actioncenter/quicksettings.css");
@import url("./actioncenter/header.css");
@import url("./actioncenter/notifications.css");

div.actioncenter {
  position: absolute;
  top: 10px;
  right: 10px;
  height: calc(100% - 75px);
  width: 400px;
  background-color: var(--glass-ultradark);
  border: var(--glass-alt-bg) 1px solid;
  box-sizing: border-box;
  border-radius: var(--win-border-rad);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  right: -420px;
  opacity: 0;
  padding: 20px;
  padding-right: 15px;
  overflow: hidden;
}

div.actioncenter:not(.opened) * {
  pointer-events: none;
}

div.actioncenter.opened {
  right: 10px;
  opacity: 1;
}
