div.arcfind-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  background-color: #111a;
  backdrop-filter: blur(30px);
}

div.arcfind-wrapper.show {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
}

div.arcfind-wrapper button.material-icons-round.close {
  position: absolute;
  top: 25px;
  right: 25px;
  margin: 0;
  padding: 0;
  color: #ccc;
  background-color: transparent;
  font-size: 24px;
  border: none;
}

div.arcfind-wrapper button.material-icons-round.close:hover {
  opacity: 0.7;
}

div.arcfind-wrapper button.material-icons-round.close:active {
  opacity: 0.4;
}

div.arcfind-wrapper div.arcfind {
  width: 500px;
  height: 50px;
  background-color: var(--glass-bg);
  border: var(--accent) 1px solid;
  border-radius: var(--win-border-rad);
  margin-top: 5%;
  display: flex;
}

div.arcfind-wrapper div.arcfind button {
  background-color: transparent;
  border: none;
  color: var(--fg);
  min-width: 48px;
  margin: 0;
}

div.arcfind-wrapper div.arcfind button:hover {
  opacity: 0.5;
}

div.arcfind-wrapper div.arcfind form {
  height: 100%;
  flex-grow: 1;
}

div.arcfind-wrapper div.arcfind form input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  color: var(--fg);
  font-family: "Inter", sans-serif;
}

div.arcfind-wrapper div.arcfind form input::placeholder {
  color: var(--fg);
}

div.arcfind-wrapper div.results {
  width: 500px;
  background-color: var(--glass-bg);
  margin-top: 10px;
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  backdrop-filter: blur(var(--glass-blur));
  padding: 5px;
  box-sizing: border-box;
  overflow-y: hidden;
}

div.arcfind-wrapper div.results button.result {
  padding: 5px;
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  text-align: left;
  background-color: transparent;
  color: var(--fg);
  border: none;
  border-radius: 5px;
  height: 42px;
}

div.arcfind-wrapper div.results button.result:last-child {
  margin-bottom: 0;
}

div.arcfind-wrapper div.results button.result img {
  height: 24px;
  margin: 4px 15px 4px 5px;
}

div.arcfind-wrapper div.results button.result div.context p {
  margin: 0;
}

div.arcfind-wrapper
  div.results
  button.result
  div.context
  p:first-child:last-child {
  line-height: 32px;
}

div.arcfind-wrapper div.results button.result div.context p.title {
  font-weight: bold;
}

div.arcfind-wrapper div.results button.result div.context p.description {
  opacity: 0.5;
}

div.arcfind-wrapper div.results button.result:hover,
div.arcfind-wrapper div.results button.result.selected {
  background-color: var(--button-glass-bg);
}

div.arcfind-wrapper div.results button.result:active {
  background-color: var(--button-glass-active-bg);
}
