@import url("./arcfind/results.css");
@import url("./arcfind/appgrid.css");
@import url("./arcfind/loading.css");
@import url("./arcfind/wrapper.css");
@import url("./arcfind/close.css");

div.arcfind-wrapper div.arcfind {
  width: 500px;
  height: 50px;
  background-color: var(--glass-bg);
  border: var(--accent-light) 1px solid;
  border-radius: var(--win-border-rad);
  margin-top: 5%;
  display: flex;
  backdrop-filter: blur(var(--glass-blur));
}

div.arcfind-wrapper div.arcfind button {
  background-color: transparent;
  border: none;
  color: var(--fg);
  min-width: 48px;
  margin: 0;
}

div.arcfind-wrapper div.arcfind button:hover {
  opacity: 0.5;
}

div.arcfind-wrapper div.arcfind form {
  height: 100%;
  flex-grow: 1;
}

div.arcfind-wrapper div.arcfind form input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  color: var(--fg);
  font-family: var(--font), sans-serif;
}

div.arcfind-wrapper div.arcfind form input::placeholder {
  color: var(--fg);
}
