window.overlay[id*="CHOOSER"] {
  background-color: var(--glass-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur, 10px));
  min-width: 85% !important;
  max-width: 85% !important;
  width: 85% !important;
  min-height: 85% !important;
  max-height: 85% !important;
  height: 85% !important;
}

window.overlay[id*="CHOOSER"] div.body {
  padding: 0 !important;
}

window.overlay[id*="CHOOSER"] div.topbar {
  height: 51px;
  display: flex;
  padding: 10px 10px 0;
  border-bottom: var(--win-border);
}

window.overlay[id*="CHOOSER"] div.topbar button.material-icons-round {
  width: 30px;
  min-width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

window.overlay[id*="CHOOSER"] div.topbar button.material-icons-round.parentdir {
  margin: 0 !important;
}

window.overlay[id*="CHOOSER"]
  div.topbar
  button.material-icons-round
  + button.material-icons-round {
  margin-left: 10px;
}

window.overlay[id*="CHOOSER"] div.topbar button.refresh {
  margin-left: 0 !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

window.overlay[id*="CHOOSER"]
  div.topbar
  button.material-icons-round:not(.home) {
  margin-right: 0px;
  background-color: var(--button-glass-bg);
}

window.overlay[id*="CHOOSER"]
  div.topbar
  button.material-icons-round:not(.home):hover {
  opacity: 0.7;
}

window.overlay[id*="CHOOSER"]
  div.topbar
  button.material-icons-round:not(.home):active {
  opacity: 0.4;
}

window.overlay[id*="CHOOSER"]
  div.topbar
  button.material-icons-round:not(.home):disabled {
  opacity: 0.3;
}

window.overlay[id*="CHOOSER"] div.topbar div.addressbar {
  flex-grow: 1;
  background-color: var(--button-glass-bg);
  vertical-align: middle;
  height: 30px;
  overflow-x: scroll;
  display: flex;
  overflow-x: auto;
  overflow-y: none;
  white-space: nowrap;
  display: flex;
  border-radius: 0;
}

window.overlay[id*="CHOOSER"] div.topbar div.group {
  height: 30px;
  width: 60px;
  overflow: hidden;
  border-radius: var(--button-border-rad);
  margin-left: 10px;
  background-color: var(--button-glass-bg);
  display: flex;
}

window.overlay[id*="CHOOSER"] div.topbar div.group button {
  margin: 0 !important;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 0;
}

window.overlay[id*="CHOOSER"] div.topbar div.group button:disabled {
  opacity: 1 !important;
}

window.overlay[id*="CHOOSER"] div.topbar div.group button:not(.selected) {
  background-color: var(--button-hover-bg);
}

window.overlay[id*="CHOOSER"] div.topbar div.addressbar::-webkit-scrollbar {
  display: none;
}

window.overlay[id*="CHOOSER"] div.topbar div.addressbar button {
  padding: 5px;
  background-color: transparent;
}

window.overlay[id*="CHOOSER"] div.topbar div.addressbar button:hover {
  background-color: var(--button-glass-bg);
}

window.overlay[id*="CHOOSER"] div.topbar button.home {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: var(--button-glass-bg);
}

window.overlay[id*="CHOOSER"] div.topbar button.refresh {
  margin-left: 5px;
}

window.overlay[id*="CHOOSER"] div.content {
  height: calc(100% - 91px) !important;
  overflow: hidden;
  display: flex;
}

window.overlay[id*="CHOOSER"] div.content div.list {
  height: 100%;
  flex-grow: 1;
  padding: 5px;
  background-color: var(--win-bg);
  max-width: calc(100% - 150px);
  overflow-y: scroll;
  padding-right: 0;
  overflow-x: hidden;
}

window.overlay[id*="CHOOSER"] div.content div.list button.item.head * {
  font-weight: bold;
}

window.overlay[id*="CHOOSER"] div.content div.list button.item.head div.name {
  width: calc(50%);
}

window.overlay[id*="CHOOSER"] div.content div.list button.item.head div.image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

window.overlay[id*="CHOOSER"] div.content div.sidebar {
  min-width: 150px;
  border-right: var(--win-border);
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
}

window.overlay[id*="CHOOSER"] div.content div.sidebar button {
  width: 100%;
  text-align: left;
  display: flex;
  padding: 5px;
  margin: 0;
  background-color: transparent;
}

window.overlay[id*="CHOOSER"] div.content div.sidebar button.selected {
  background-color: var(--button-glass-bg);
}

window.overlay[id*="CHOOSER"] div.content div.sidebar button p.caption {
  margin: 0;
  line-height: 20px;
}

window.overlay[id*="CHOOSER"] div.content div.sidebar button:hover {
  background-color: var(--button-bg);
}

window.overlay[id*="CHOOSER"] div.content div.sidebar button:active {
  background-color: var(--button-active-bg);
}

window.overlay[id*="CHOOSER"] div.content div.sidebar button img {
  height: 20px;
  margin-right: 10px;
}

window.overlay[id*="CHOOSER"] div.content button.item {
  display: flex;
  width: 100%;
  height: 30px;
  padding: 5px;
  line-height: 20px;
  background-color: transparent;
  text-align: left;
}

window.overlay[id*="CHOOSER"] div.content button.item.selected {
  background-color: var(--button-hover-bg);
}

window.overlay[id*="CHOOSER"] div.content button.item:hover {
  background-color: var(--button-glass-bg);
}

window.overlay[id*="CHOOSER"] div.content button.item:active {
  background-color: var(--button-active-bg);
}

window.overlay[id*="CHOOSER"] div.content button.item div.image img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

window.overlay[id*="CHOOSER"] div.content button.item div.name {
  width: 50%;
}

window.overlay[id*="CHOOSER"] div.content button.item div.mime {
  width: 25%;
}

window.overlay[id*="CHOOSER"] div.content button.item div:not(.image) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

window.overlay[id*="CHOOSER"] div.bottompane {
  width: 100%;
  border-top: var(--win-border);
  padding: 5px;
  display: flex;
}

window.overlay[id*="CHOOSER"] div.bottompane div.buttons {
  margin-left: auto;
}

window.overlay[id*="CHOOSER"] div.bottompane button {
  height: 25px;
}

window.overlay[id*="CHOOSER"] div.processing-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--darkened-overlay-alt);
  display: flex;
  justify-content: center;
  align-items: center;
}

window.overlay[id*="CHOOSER"] div.processing-overlay div.processing-content {
  padding: 10px;
  background-color: var(--win-bg);
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  width: 350px;
  height: 52px;
}

window.overlay[id*="CHOOSER"]
  div.processing-overlay
  div.processing-content
  div.processing {
  display: flex;
  line-height: 32px;
  padding: 0;
}

window.overlay[id*="CHOOSER"]
  div.processing-overlay
  div.processing-content
  div.processing
  img {
  height: 30px;
  margin-right: 10px;
}

window.overlay[id*="CHOOSER"]
  div.processing-overlay
  div.processing-content
  div.processing
  p.caption {
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

window.overlay[id*="CHOOSER"]
  div.processing-overlay
  div.processing-content
  div.processing
  img.spinner-svg {
  margin-left: auto;
  margin-right: 0;
}

window.overlay[id*="CHOOSER"] div.tiled {
  height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  padding: 10px;
  padding-right: 2px;
  box-sizing: border-box;
  background-color: var(--win-bg);
  max-width: calc(100% - 150px);
}

window.overlay[id*="CHOOSER"] div.tiled div.dirs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 140px));
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: var(--button-bg) 1px solid;
}

window.overlay[id*="CHOOSER"] div.tiled div.dirs button.tile.dir {
  flex-grow: 1;
  max-width: 150px;
  display: flex;
  padding: 10px 15px !important;
  margin: 2.5px;
  height: 40px;
  text-align: left;
}

window.overlay[id*="CHOOSER"] div.tiled div.dirs button.tile.dir img {
  height: 20px;
  margin-right: 10px;
}

window.overlay[id*="CHOOSER"] div.tiled div.dirs button.tile.dir p.caption {
  margin: 0;
  line-height: 20px;
}

window.overlay[id*="CHOOSER"] div.tiled div.files {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-template-rows: repeat(auto-fit, 85px);
}
window.overlay[id*="CHOOSER"] div.tiled div.files button {
  height: fit-content;
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
  vertical-align: top;
  padding: 2px 5px !important;
  margin: 0 !important;
  border-radius: 5px;
  word-break: break-all;
  margin-bottom: 12px !important;
}

window.overlay[id*="CHOOSER"]
  div.tiled
  div.files
  button:not(:active):not(:hover):not(.selected) {
  background-color: transparent !important;
}

window.overlay[id*="CHOOSER"] div.tiled div.files button:hover {
  background-color: var(--button-bg) !important;
}

window.overlay[id*="CHOOSER"] div.tiled div.files button.selected {
  background-color: var(--button-hover-bg);
}

window.overlay[id*="CHOOSER"] div.tiled div.files button img {
  height: 32px;
  margin: 0 8px;
}

window.overlay[id*="CHOOSER"] div.tiled div.files button p.name {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.5em;
  margin: 0;
}
