div.desktop div.contextmenu {
  position: absolute;
  width: 200px;
  height: 350px;
  top: 0px;
  left: 0px;
  background-color: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  color: var(--fg);
  border: var(--win-border);
  border-radius: var(--win-border-rad);
  box-sizing: border-box;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s, top 0s, left 0s !important;
}

div.desktop div.contextmenu * {
  pointer-events: none;
}

div.desktop div.contextmenu.show * {
  pointer-events: initial;
}

div.desktop div.contextmenu.show {
  opacity: 1;
  visibility: visible;
}
