div.desktop div.contextmenu {
  position: absolute;
  min-width: 180px;
  min-height: 42px;
  top: 0px;
  left: 0px;
  background-color: var(--glass-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  color: var(--fg);
  border: var(--win-border);
  border-radius: var(--win-border-rad);
  box-sizing: border-box;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s, top 0s, left 0s !important;
  display: flex;
  flex-direction: column;
  transform: scaleY(0%);
}

div.desktop div.contextmenu.colored {
  border: var(--accent-light-transparent) 1px solid;
}

div.desktop div.contextmenu * {
  pointer-events: none;
}

div.desktop div.contextmenu.show * {
  pointer-events: initial;
}

div.desktop div.contextmenu.show {
  opacity: 1;
  visibility: visible;
  transform: scaleY(100%);
}

div.desktop div.contextmenu button.contextmenu-item {
  width: 100%;
  display: flex;
  text-align: left;
  border: none;
  background-color: transparent;
  color: var(--fg);
  border-radius: var(--button-border-rad);
  padding: 5px;
  line-height: 18px;
  align-items: center;
  transform: unset;
}

div.desktop div.contextmenu button.contextmenu-item::after {
  content: "";
  font-family: "Material Icons Round";
  width: 28px;
  height: 18px;
  font-size: 18px;
  margin-left: auto;
  padding-left: 10px;
}

div.desktop div.contextmenu.compact button.contextmenu-item::after {
  font-size: 16px;
  width: 26px;
  height: 16px;
}

div.desktop div.contextmenu button.contextmenu-item.active::after {
  content: "check";
}

div.desktop div.contextmenu button.contextmenu-item:hover {
  background-color: var(--button-glass-bg);
}

div.desktop div.contextmenu button.contextmenu-item div.icon {
  width: 24px;
}

div.desktop div.contextmenu button.contextmenu-item div.icon * {
  vertical-align: middle;
  margin: 0;
  width: 18px;
  font-size: 18px;
}

div.desktop div.contextmenu.colored button.contextmenu-item:hover {
  background-color: var(--accent-light-transparent);
  box-shadow: 0 1px 2px 1px #0000001c;
}

div.desktop div.contextmenu.colored button.contextmenu-item:active {
  background-color: var(--accent-dark);
  color: var(--accent-light);
  box-shadow: none;
}

div.desktop div.contextmenu button.contextmenu-item * {
  vertical-align: middle;
}

div.desktop div.contextmenu:not(.compact) button.contextmenu-item div.icon > * {
  margin-right: 10px;
}

div.desktop div.contextmenu hr {
  margin: 5px;
  border: var(--button-glass-bg) 1px solid;
}

div.contextmenu.compact {
  padding: 3px !important;
  min-height: 32px !important;
}

div.contextmenu.compact button.contextmenu-item {
  padding: 4px 6px !important;
  font-size: 9pt;
  height: 24px;
  line-height: 16px;
}

div.desktop div.contextmenu.compact button.contextmenu-item div.icon {
  height: 16px !important;
  display: flex;
}
div.desktop div.contextmenu.compact button.contextmenu-item div.icon * {
  vertical-align: middle;
  margin: 0;
  width: 16px;
  font-size: 16px;
  margin-right: 8px;
}

div.desktop div.contextmenu.compact hr {
  margin: 3px 7px !important;
}
