div.desktopIcons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-template-rows: repeat(auto-fit, 85px);
  padding: 10px;
  height: calc(100% - 65px);
  overflow: hidden;
}

div.desktopIcons.launcher {
  padding-top: 40px !important;
}

div.desktopIcons.undocked-launcher {
  padding-top: 52px !important;
}

div.desktop.tbdocked:not(.tb-vertical):not(.tb-vertical-right)
  div.desktopIcons {
  height: calc(100% - 45px);
}

div.desktop.tb-vertical div.desktopIcons:not(.launcher) {
  margin-left: 65px;
  width: calc(100% - 65px);
  height: 100%;
}

div.desktop.tb-vertical.tbdocked div.desktopIcons:not(.launcher) {
  margin-left: 45px;
  width: calc(100% - 45px);
  height: 100%;
}

div.desktop.tb-vertical-right.tbdocked div.desktopIcons:not(.launcher) {
  margin-right: 45px;
  width: calc(100% - 45px);
  height: 100%;
}

div.desktop.tb-vertical-right div.desktopIcons:not(.launcher) {
  margin-right: 65px;
  width: calc(100% - 65px);
  height: 100%;
}

div.desktopIcons button {
  height: fit-content;
  margin: 0;
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
  vertical-align: top;
  padding: 2px 5px;
  border-radius: 5px;
}

div.desktopIcons button:hover {
  background-color: var(--button-glass-hover-bg);
}

div.desktopIcons button:active {
  background-color: var(--button-glass-active-bg);
}

div.desktopIcons button p.name {
  margin: 0;
  height: fit-content;
  max-height: 2.5em;
  text-shadow: #000 0 0 5px;
  color: white;
}

div.desktopIcons button img {
  height: 32px;
  margin: 0 8px;
}
