div.notification {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: var(--glass-bg);
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  transition: margin-top 0.3s, opacity 0.3s, visibility 0.3s;
  min-width: 300px;
  min-height: 100px;
  max-width: 450px;
  max-height: 200px;
  box-sizing: border-box;
  padding: 15px;
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
}

div.notification.launcher {
  top: 40px;
}

div.notification:not(.nobutt) {
  padding-bottom: 65px;
}

div.notification:not(.ac).colored {
  border: var(--glass-ultradark) 1px solid;
}

div.notification.ac {
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  min-height: unset;
  max-height: unset;
  position: relative;
  transform: unset;
  -o-transform: unset;
  -ms-transform: unset;
  -moz-transform: unset;
  -webkit-transform: unset;
  left: 0;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: var(--win-border-light);
  border-radius: 0;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
}

div.notification.ac div.buttons {
  display: flex;
  position: static;
  margin: 15px 0;
}

div.notification.ac div.buttons div.inner {
  margin-left: auto;
}

div.notification.ac button.close {
  top: 0px;
  right: 0px;
}

div.notification.hidden {
  margin-top: -50px;
  opacity: 0;
  visibility: hidden;
}

div.notification.hidden * {
  pointer-events: none;
}

div.notification p {
  margin: 0;
}

div.notification p.title {
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  line-height: 24px;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

div.notification p.title span.material-icons-round {
  margin-left: 0;
  font-size: 20px;
}

div.notification p.title img {
  height: 24px;
  vertical-align: middle;
}

div.notification div.buttons {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

div.notification button.close {
  background-color: transparent;
  color: var(--fg);
  border: none;
  font-size: 18px;
  margin: -2px;
  margin-left: auto;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

div.notification button {
  margin: 2.5px;
  padding: 5px 10px;
  border: none;
  border-radius: var(--button-border-rad);
  background-color: var(--button-glass-bg);
  color: var(--fg);

  transition: background-color 0.3s;
}

div.notification button:hover {
  background-color: var(--button-glass-hover-bg);
}

div.notification button:active {
  background-color: var(--button-glass-active-bg);
}
