/*///////scrollbars for days*/

/* width */

::-webkit-scrollbar {
  width: 8px;
  cursor: none;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  background-color: transparent;
  cursor: none;
  border: transparent 3px solid;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background-color: var(--button-glass-bg);
  transition: background-color 0.25s;
  cursor: none;
  opacity: 0.5;
  border: 2px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background-color: var(--button-glass-hover-bg);
  cursor: none;
}
