div[class*="tb-vertical"] div.startmenu {
  top: 10px;
  left: 65px;
}

div[class*="tb-vertical-right"] div.startmenu {
  left: unset !important;
  right: 65px;
}

div[class*="tb-vertical"].tbdocked div.startmenu {
  left: 55px;
}

div[class*="tb-vertical-right"].tbdocked div.startmenu {
  right: 55px;
}

div.startframe {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  /* backdrop-filter: blur(2px); */
  /* background-color: #0006; */
}

div.startframe.present {
  visibility: visible;
  opacity: 1;
}

div.startmenu.present * {
  pointer-events: initial;
}

div.startmenu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -50px;
  width: 500px;
  height: 600px;
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  box-sizing: border-box;
  transition: bottom 0.3s, border-radius 0.3s, width 0.3s, height 0.3s,
    opacity 0.3s, visibility 0.3s, margin-bottom 0.34s;
  background-color: var(--glass-ultradark);
  backdrop-filter: blur(var(--glass-blur));
  left: 10px;
  bottom: calc(10px + 45px + 10px);
}

div.startmenu * {
  pointer-events: none;
}

div.startmenu div.left {
  position: absolute;
  width: 300px;
  top: 0px;
  left: 0px;
  height: calc(100% - 75px);
  border-radius: var(--win-border-rad);
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

div.startmenu div.left button.item {
  width: 100%;
  padding: 8px;
  border-radius: var(--win-border-rad);
  margin-bottom: 5px;
  text-align: left;
  box-sizing: border-box;
  background-color: var(--startmenu-applist-item-bg);
  color: var(--fg);
  border: none;
}

div.startmenu div.left button.item * {
  vertical-align: middle;
}

div.startmenu div.left button.item img.icon {
  height: 24px;
  margin-right: 10px;
}

div.startmenu div.left button.item:hover {
  background-color: var(--startmenu-applist-item-bg-hover);
}

div.startmenu div.left button.item:active {
  background-color: var(--startmenu-applist-item-bg-active);
}

div.startmenu div.left button.item:disabled {
  opacity: 0.5;
}

div.startmenu div.right {
  position: absolute;
  width: 200px;
  top: 0px;
  right: 0px;
  height: calc(100% - 75px);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--darkened-overlay);
  border-top-right-radius: var(--win-border-rad);
}

div.startmenu div.bottom {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 75px;
  box-sizing: border-box;
  background-color: var(--darkened-overlay);
  border-bottom-left-radius: var(--win-border-rad);
  border-bottom-right-radius: var(--win-border-rad);
  padding: 25px;
  display: flex;
}

div.startmenu div.bottom * {
  vertical-align: middle;
}

div.startmenu div.bottom h1.username {
  margin: 0;
  font-size: 19px;
  line-height: 30px;
  margin-top: -2px;
}

div.startmenu div.bottom img.pfp {
  height: 30px;
  vertical-align: middle;
  border-radius: 15px;
  margin-right: 15px;
}

div.startmenu div.bottom div.options {
  margin-left: auto;
}

div.startmenu div.bottom div.options button.material-icons-round {
  background-color: transparent;
  color: var(--fg);
  border: none;
  padding: 0;
  margin: 0;
  line-height: 30px;
}

div.startmenu div.bottom div.options button.material-icons-round:hover {
  opacity: 0.7;
}

div.startmenu div.bottom div.options button.material-icons-round:active {
  opacity: 0.4;
}

div.startmenu.open {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

div.startmenu.open * {
  pointer-events: initial;
}

div.desktop.tbdocked div.startmenu {
  bottom: calc(45px + 10px);
}

div.startmenu.small {
  width: 330px;
  height: 405px;
}

div.startmenu.small > div.left {
  width: calc(100% - 50px);
  height: calc(100% - 50px);
}

div.startmenu.small > div.right {
  width: 50px;
  height: calc(100% - 50px);
  padding: 10px;
  /* text-align: center; */
}

div.startmenu.small > div.bottom {
  height: 50px;
  padding: 15px 20px;
}

div.startmenu.small > div.bottom h1.username {
  font-size: 16px;
  line-height: 25px;
}

div.startmenu.small > div.bottom h1.username .pfp {
  height: 20px;
  margin-top: -2px;
  margin-right: 10px;
  width: 20px;
}

div.startmenu.small > div.bottom div.options {
  line-height: 20px;
}

div.startmenu.small > div.bottom div.options button.material-icons-round {
  font-size: 21px;
  line-height: 21px;
  margin-left: 2.5px;
}
