@import url("./startmenu/rightpane.css");
@import url("./startmenu/leftpane.css");
@import url("./startmenu/bottompane.css");
@import url("./startmenu/colored.css");
@import url("./startmenu/small.css");
@import url("./startmenu/newsm17823.css");
@import url("./startmenu/position.css");
@import url("./startmenu/frame.css");

div.startmenu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  margin-bottom: -50px;
  width: 500px;
  height: 600px;
  border-radius: var(--win-border-rad);
  border: var(--glass-alt-bg) 1px solid;
  box-sizing: border-box;
  transition: all 0.3s;
  background-color: var(--startmenu-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  left: 10px;
  bottom: calc(10px + 45px + 10px);
  box-shadow: 0px 5px 15px 5px #0003;
}

div.startmenu * {
  pointer-events: none;
}

div.startmenu.open {
  opacity: 1;
  visibility: visible;
  margin-bottom: 0;
}

div.startmenu.open * {
  pointer-events: initial;
}
/* 
div.desktop.theme-light div.startmenu {
  background-color: var(--win-bg);
  border: var(--win-border);
}
 */
