@import url("./theme/dark.css");
@import url("./theme/light.css");
@import url("./theme/sharp.css");
@import url("./theme/noani.css");
@import url("./theme/amoled.css");
@import url("./theme/hc.css");
@import url("./theme/scifi.css");
@import url("./theme/amber.css");

:root {
  --font: "Inter", sans-serif;
  --glass-blur: 10px;
  --fg: #ccc;
  --win-bg: #353535;
  --win-border-rad: 7.5px;
  --win-border: rgb(107, 107, 107) 1px solid;
  --win-border-light: #5554 1px solid;
  --glass-bg: #202020a9;
  --glass-alt-bg: #414141a2;
  --glass-ultralight: #0004;
  --glass-ultradark: #0008;
  --darkened-overlay: #0002;
  --darkened-overlay-alt: #0004;
  --startmenu-applist-item-bg: transparent;
  --startmenu-applist-item-bg-hover: #ffffff05;
  --startmenu-applist-item-bg-active: #0001;
  --button-border-rad: 4px;
  --button-bg: #4a4a4a;
  --button-hover-bg: #555555;
  --button-active-bg: #2a2a2a;
  --button-glass-bg: #fff1;
  --button-glass-hover-bg: #fff3;
  --button-glass-active-bg: #0003;
  --clr-red-bg: #452929;
  --clr-red-fg: #ff7e7e;
  --clr-green-bg: #283e28;
  --clr-green-fg: #a8ffa6;
  --clr-yellow-bg: #49432e;
  --clr-yellow-fg: #ffe073;
  --clr-orange-bg: #543d1b;
  --clr-orange-fg: #ffad32;
  --clr-blue-bg: #273a48;
  --clr-blue-fg: #96d3ff;
  --clr-aqua-fg: #79ffd0;
  --clr-aqua-bg: #214538;
  --accent: dodgerblue;
  --accent-dark: rgb(0, 94, 126);
  --accent-light: rgb(113, 220, 255);
  --elevated-accent-filter: brightness(300%) saturate(150%);
}
