div.window {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: var(--win-bg);
  color: var(--fg);
  border-radius: var(--win-border-rad);
  border: var(--win-border);
  overflow: hidden;
  /* transition: visibility 0.2s, opacity 0.2s, transform 0.3s; */
  transition: all 0.2s, width 0s, height 0s, top 0s, left 0s;
  opacity: 0;
  visibility: hidden;
  transform: scale(90%);
}

div.window.nobg {
  background-color: transparent;
}

div.window.resizable {
  resize: both;
  border: #ff0 1px solid;
}

div.window.min {
  border: #0ff 1px solid !important;
}

div.desktop.tbdocked div.window.max {
  height: calc(100% - 45px) !important;
}

div.desktop:not(.tbdocked) div.window.max {
  height: calc(100% - 65px) !important;
}

div.window.max {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;

  max-width: unset !important;
  max-height: unset !important;
  min-width: unset;
  min-height: unset;
  border-radius: 0;
  border: none;
  resize: none;
  transition: all 0.2s;
}

div.window.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

div.window.exttransition {
  transition: all 0.2s;
}

div.window div.titlebar {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

div.window div.body {
  height: calc(100% - 30px);
  width: 100%;
  background-color: var(--win-bg);
  box-sizing: border-box;
  padding: 5px;
  overflow: auto;
}

div.window div.titlebar p.title {
  margin: 0;
}

div.window div.titlebar div.controls {
  position: absolute;
  top: 4px;
  right: 6px;
}

div.window div.titlebar div.controls button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: var(--fg);
  transition: opacity 0.2s;
}

div.window div.titlebar div.controls button:hover {
  opacity: 0.5;
}

div.window div.titlebar div.controls button:active {
  opacity: 0.2;
}

div.window.headless div.titlebar {
  display: none;
}

div.window.headless div.body {
  height: calc(100%);
}

div.window.fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  border: none !important;
  z-index: inherit;
  max-width: unset !important;
  max-height: unset !important;
  min-width: unset !important;
  min-height: unset !important;
}
