div.login-full {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: bold;
  background-color: transparent;
  backdrop-filter: blur(20px);
  width: 100%;
  height: 100%;
  font-size: 16px;
}
