div.login div.center-absolute div.user-selector {
  min-width: 640px;
  max-width: 80vw;
  width: 80vw;
  text-align: center;
}

div.login div.center-absolute div.user-selector button.createacc {
  display: block;
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  min-width: 150px;
  border: var(--button-glass-bg) 1px solid;
}

div.login div.center-absolute div.user-selector button.user {
  background-color: transparent;
  border: none;
  margin: 15px;
  width: 100px;
  height: 130px;
  box-sizing: border-box;
  padding: 0;
  text-shadow: #000 1px 0 5px;
  border-radius: 10px;
  padding: 10px 0px;
  transition: background-color 0.15s, opacity 0.3s;
  font-size: 14px;
}

div.login div.center-absolute div.user-selector button.user:hover {
  background-color: #fff1;
}

div.login div.center-absolute div.user-selector button.user:active {
  opacity: 0.4;
}

div.login div.center-absolute div.user-selector button.user img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  box-shadow: 0px 0px 10px #000a;
}

div.login div.center-absolute div.user-selector button.user p {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
