div.login div.topbar div.right button.nopad {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-radius: 200px;
  background-color: transparent;
  margin-left: 0 px;
  color: #eee;
}

div.login div.topbar div.right button.nopad:hover {
  background-color: #0003;
}

div.login div.topbar div.right button.nopad span.material-icons-round {
  padding: 0;
  margin: 0;
}

div.login div.topbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 40px;
  background-color: #0006;
  box-sizing: border-box;
  padding: 5px 10px;
  opacity: 0;
  transition: opacity 0.4s, top 0.4s;
  top: -17.5px;
}

div.login div.topbar.show {
  opacity: 1;
  top: 0px;
}

div.login div.topbar div.clock {
  position: absolute;
  top: 0;
  line-height: 40px;
  left: 50%;
  transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  font-weight: bold;
}

div.login div.topbar div.right {
  position: absolute;
  top: 6px;
  right: 10px;
  font-size: 15px;
}

div.login div.hostname {
  opacity: 0.5;
}

div.login select.host {
  background-color: transparent;
  border: none;
  font-size: 14px;
  padding-right: 10px;
  background-color: #0000;
  width: fit-content;
  opacity: 0.7;
  height: 28px;
  color: #fff;
}
