div.userlogin {
  text-align: center;
  height: 300px;
  margin-top: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, margin-top 0.3s;
}

div.userlogin.show {
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

div.userlogin img[alt*="pfp"] {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

div.userlogin h1 {
  font-size: 24px;
}

div.userlogin input:not([type*="checkbox"]) {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff1;
  border: none;
  backdrop-filter: blur(var(--glass-blur));
  border: var(--button-glass-bg) 1px solid;
}

div.userlogin input.block,
div.userlogin button.block {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

div.userlogin div.cloudlogin button.material-icons-round {
  margin: 0;
  margin-left: 0px;
  padding: 0;
  color: #ccc;
  width: 36px;
  height: 36px;
  border-radius: 0;
  background-color: #fff1;
  opacity: 1 !important;

  font-size: 16px;
  -webkit-backdrop-filter: unset;
  backdrop-filter: unset;
  border-left: var(--button-glass-bg) 1px solid;
  background-color: transparent;
}

div.userlogin div.cloudlogin button.material-icons-round:disabled {
  color: #ccc4;
}

div.userlogin div.cloudlogin div.field {
  display: flex;
  align-items: center;
  border: var(--button-glass-bg) 1px solid;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff08;
  backdrop-filter: blur(var(--glass-blur));
}

div.userlogin div.cloudlogin div.field input {
  border-radius: 0;
  background-color: transparent !important;
  border: none;
}

div.userlogin div.cloudlogin div.field.hidden {
  display: none !important;
}

div.userlogin div.cloudlogin i.host {
  opacity: 0.2;
  margin-top: 10px;
  display: block;
}

div.userlogin div.cloudlogin form {
  display: inline-block;
}

div.userlogin div.cloudlogin form input.wrongpswd {
  background-color: rgba(255, 99, 71, 0.377);
}

div.login button.switchuser {
  margin-top: 26px;
  transition: opacity 0.3s, visibility 0.3s, margin-top 0.3s;
  border: var(--button-glass-bg) 1px solid !important;
}

div.userlogin.newuser button.createbutton {
  color: #ccc;
  height: 38px;
  padding: 0;
  min-width: 38px;
  margin: 0;
  margin-left: 10px;
  background-color: #fff3;
}

div.userlogin.newuser div.input-wrapper {
  display: flex;
}

body {
  height: 100vh;
  margin: 0;
}

div.userlogin div.cloudlogin span.keep-loggedin-wrapper {
  display: block;
  margin: 15px 0;
  width: 100%;
  margin-top: 20px;
}

div.userlogin div.cloudlogin span.keep-loggedin-wrapper input {
  background-color: #fff1 !important;
  border: 1px transparent solid !important;
}
