window#FileManager div.topbar div.addressbar {
  background-color: var(--button-glass-bg);
  flex-grow: 1;
  height: 30px;
  padding: 0;

  overflow-x: auto;
  overflow-y: none;
  white-space: nowrap;
  display: flex;
}

window#FileManager div.topbar div.addressbar button.refresh {
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-size: 16px;
}

window#FileManager div.topbar div.addressbar::-webkit-scrollbar {
  display: none;
}

window#FileManager div.topbar div.addressbar button {
  background-color: transparent;
  margin: 0;
  padding: 0 10px;
  line-height: 30px;
  position: relative;
  margin: 0 5px;
}

window#FileManager div.topbar div.addressbar button:hover {
  background-color: var(--button-glass-bg);
}

window#FileManager div.topbar div.addressbar button:active {
  background-color: var(--button-glass-active-bg);
}

window#FileManager div.topbar div.addressbar button::after {
  content: "arrow_forward_ios";
  position: absolute;
  right: -10px;
  font-size: 10px;
  font-family: "Material Icons Outlined";
  opacity: 0.5;
  pointer-events: none;
}

window#FileManager div.topbar div.addressbar button:first-child {
  margin-left: 0;
}

window#FileManager div.topbar div.addressbar button:last-child::after {
  display: none;
}

window#FileManager div.topbar div.addressbar button .material-icons-round {
  margin-left: 0;
  margin-right: 10px;
}

window#FileManager div.topbar button.material-icons-round {
  min-width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  margin-right: 5px;
}

window#FileManager div.topbar button.material-icons-round.parentdir {
  background-color: transparent;
  font-size: 18px;
}

window#FileManager div.topbar button.material-icons-round.parentdir:hover {
  background-color: var(--button-glass-bg);
}

window#FileManager div.topbar button.material-icons-round.parentdir:active {
  background-color: var(--button-glass-active-bg);
}

window#FileManager div.topbar button.material-icons-round.home {
  font-size: 16px;
  margin-right: 10px;
}

window#FileManager div.topbar button.material-icons-round.refresh {
  font-size: 16px;
  margin: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

window#FileManager div.topbar button.material-icons-round.home {
  font-size: 16px;
  margin: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

window#FileManager div.topbar div.right {
  display: flex;
}

window#FileManager div.topbar div.group {
  overflow: hidden;
  background-color: var(--button-glass-bg);
  border-radius: 5px;
  margin-left: 10px;
  display: flex;
  height: 30px;
}
window#FileManager div.topbar div.group button {
  margin: 0;
  background-color: transparent;
  border-radius: 0;
  margin-left: 0 !important;
}
window#FileManager div.topbar div.group button.selected,
window#FileManager div.topbar div.group button:hover {
  background-color: var(--button-glass-bg);
}

window#FileManager div.topbar div.group button:active {
  background-color: var(--button-glass-active-bg);
}

window#FileManager div.topbar div.right button.material-icons-round {
  margin: 0;
  margin-left: 10px;
  font-size: 17px;
}

window#FileManager div.topbar div.group div.sep {
  height: 100%;
  width: 1px;
  background-color: var(--button-glass-bg);
}
