:root .theme-light {
  --fg: #333;
  --win-bg: #fff;
  --win-border-rad: 7.5px;
  --win-border: rgb(226, 226, 226) 1px solid;
  --win-border-light: #d8d8d844 1px solid;
  --glass-bg: #ffffffa2;
  --glass-alt-bg: #414141a2;
  --glass-ultralight: rgba(255, 255, 255, 0.267);
  --glass-ultradark: rgba(255, 255, 255, 0.533);
  --darkened-overlay: #0001;
  --darkened-overlay-alt: #0003;
  --startmenu-applist-item-bg: transparent;
  --startmenu-applist-item-bg-hover: #00000005;
  --startmenu-applist-item-bg-active: rgba(0, 0, 0, 0.067);
  --button-border-rad: 4px;
  --button-bg: #eeeeee;
  --button-hover-bg: #dddddd;
  --button-active-bg: #cccccc;
  --button-glass-bg: rgba(0, 0, 0, 0.067);
  --button-glass-hover-bg: rgba(0, 0, 0, 0.05);
  --button-glass-active-bg: rgba(0, 0, 0, 0.1);
  --clr-red-bg: #ffc5c5;
  --clr-red-fg: #c50000;
  --clr-green-bg: #92ff8f;
  --clr-green-fg: #299126;
  --clr-yellow-bg: #ffecaa;
  --clr-yellow-fg: #a58b2f;
  --clr-orange-bg: #ffe1b5;
  --clr-orange-fg: #af7011;
  --clr-blue-bg: #8fd0ff;
  --clr-blue-fg: #1566a0;
  --clr-aqua-bg: #ddfff3;
  --clr-aqua-fg: #39a17d;
}

:root .theme-light.noglass {
  --glass-bg: #fff;
  --glass-alt-bg: #eee;
  --glass-ultralight: #eeeeee;
  --glass-ultradark: #bbbbbb;
}
