#SettingsApp #changePswd div.body {
  padding: 0;
  display: flex;
  flex-direction: column;
}

window#SettingsApp window.overlay#changePswd div.changepswd-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#SettingsApp #changePswd div.top {
  display: flex;
  margin: 15px;
  gap: 15px;
}

window#SettingsApp window.overlay#changePswd div.changepswd-wrapper div.field {
  width: 100%;
}

window#SettingsApp window.overlay#changePswd div.changepswd-wrapper p.username {
  font-size: 18px;
  font-weight: bold;
}

window#SettingsApp
  window.overlay#changePswd
  div.changepswd-wrapper
  p.username
  + p {
  opacity: 0.5;
}

window#SettingsApp window.overlay#changePswd div.changepswd-wrapper .pfp {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--button-bg);
  overflow-clip-margin: 0px;
  overflow: hidden;
}

window#SettingsApp window.overlay#changePswd div.changepswd-wrapper input {
  width: 100%;
  margin: 0;
  margin-top: 5px;
}

#SettingsApp #changePswd div.apply {
  display: flex;
  justify-content: flex-end;
  border-top: var(--win-border);
  padding: 10px;
  background-color: var(--button-glass-bg);
  margin-top: auto;
}

#SettingsApp #changePswd div.apply div {
  margin: 0;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

#SettingsApp #changePswd div.apply div button {
  min-width: 70px;
  margin: 0;
}
