window#SettingsApp window.overlay#customPfp div.body {
  padding: 0;
}

#SettingsApp #customPfp div.custompfp-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#SettingsApp #customPfp div.top {
  display: flex;
  margin: 15px;
  gap: 15px;
}

#SettingsApp #customPfp div.field {
  width: 100%;
}

#SettingsApp #customPfp .pfp {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--button-bg);
  overflow-clip-margin: 0px;
  overflow: hidden;
}

#SettingsApp #customPfp input {
  width: 100%;
  margin: 0;
  margin-top: 5px;
}

#SettingsApp #customPfp div.apply {
  display: flex;
  justify-content: flex-end;
  border-top: var(--win-border);
  padding: 10px;
  background-color: var(--button-glass-bg);
  margin-top: auto;
}

#SettingsApp #customPfp div.apply div {
  margin: 0;
  display: flex;
  gap: 10px;
  margin-left: auto;
}

#SettingsApp #customPfp div.apply div button {
  min-width: 70px;
  margin: 0;
}
