@import url("./content/notfound.css");
@import url("./content/header.css");
@import url("./content/detail.css");
@import url("./content/issue.css");
@import url("./content/moreinfo.css");

window#BugReports div.content {
  width: calc(100% - 250px);
  border-left: var(--win-border);
  background-color: var(--win-bg);
  padding: 15px;
}
