div.bugrep {
  background-color: #060f1b;
  color: #ccc;
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

div.bugrep div.content {
  display: flex;
  margin-top: auto;
  margin-bottom: 20px;
  padding-top: 80px;
}

div.bugrep div.content > div {
  margin: 10px 0;
}

div.bugrep div.content p {
  margin: 0;
  max-width: 500px;
  word-wrap: break-word;
}

div.bugrep img.logo {
  height: 120px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

div.bugrep *,
div.bugrep {
  transition: opacity 0.4s;
  opacity: 0;
}

div.bugrep.show *,
div.bugrep.show {
  opacity: 1;
}

div.bugrep a {
  color: var(--accent);
  text-decoration: none;
}

div.bugrep a:hover {
  color: var(--accent-light);
}

div.bugrep a:active {
  color: var(--accent-dark);
}

div.bugrep button {
  padding: 5px 20px;
  background-color: #fff1;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, opacity 0.15s;
  color: white;
}

div.bugrep button:hover {
  background-color: #fff2;
}

div.bugrep button:active {
  background-color: #0003;
}

div.bugrep pre.details {
  opacity: 0.4;
}

div.bugrep h3 {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  font-size: 22px;
}

div.bugrep h3 * {
  vertical-align: middle;
}

div.bugrep h3 span.material-icons-round {
  font-size: 24px;
  margin: 0;
  margin-right: 10px;
}

div.bugrep div.details {
  text-align: left;
  opacity: 0.5;
  font-size: 13px;
  margin: 60px 0;
  margin-top: auto;
}

div.bugrep div.details * {
  font-family: "Source Code Pro", monospace;
  white-space: pre;
}

div.bugrep div.details p {
  margin: 0;
}

div.bugrep div.details p span.title {
  font-weight: bold;
}
