* {
  cursor: url("../assets/cursors/cursor.png"), auto;
}

a:hover,
a:hover *,
button:hover,
button:hover *,
input:hover,
input:hover *,
select:hover,
select:hover * {
  cursor: url("../assets/cursors/hand.cur"), auto;
}

input,
textarea {
  cursor: url("../assets/cursors/beam.cur"), auto !important;
}

:disabled,
:disabled * {
  cursor: url("../assets/cursors/forbidden.cur"), auto !important;
}

div.app.cursor-busy,
div.app.cursor-busy * {
  cursor: url("../assets/cursors/busy.png"), auto !important;
}
