@import url("./cursors/imports.css");

* {
  cursor: var(--cur-normal);
}

a:hover,
a:hover *,
button:hover,
button:hover *,
input:hover,
input:hover *,
select:hover,
select:hover * {
  cursor: var(--cur-hand);
}

input:not([type*="checkbox"]),
textarea {
  cursor: var(--cur-beam) !important;
}

:disabled,
:disabled * {
  cursor: var(--forbidden) !important;
}

div.app.cursor-busy,
div.app.cursor-busy * {
  cursor: var(--busy) !important;
}
