@import url("./desktop/themes.css");
@import url("./desktop/wallpaper.css");
/* @import url("./desktop/taskbar.css"); */
@import url("./desktop/newtaskbar.css");
@import url("./desktop/launcher.css");
@import url("./desktop/startmenu.css");
@import url("./desktop/window.css");
@import url("./desktop/notification.css");
@import url("./desktop/scrollbars.css");
@import url("./desktop/shell.css");

div.desktop {
  color: var(--fg);
  opacity: 0;
  transition: opacity 0.6s;
  overflow: hidden;
}

div.desktop.show {
  opacity: 1;
}

*:not([class*="material-icons"]) {
  font-family: var(--font);
}
