@import url("./fts/page/welcome.css");
@import url("./fts/progress.css");
@import url("./desktop/themes.css");
@import url("./fts/left.css");
@import url("./fts/right.css");

div.fts {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/bg/img16.jpg");
  opacity: 0;
  transition: opacity 1s;
}

div.fts *:not(.material-icons-round) {
  font-family: "Nunito Sans", sans-serif;
}

div.fts.show {
  opacity: 1;
}

div.fts > div.center-absolute {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: #ccc;
  background-color: var(--glass-bg);
  overflow: hidden;
  border: var(--win-border);
}

div.fts div.center-absolute div.left,
div.fts div.center-absolute div.right {
  position: absolute;
  top: 0px;
  height: 100%;
  box-sizing: border-box;
}
