@import url("../css/fts/page/welcome.css");
@import url("./fts/progress.css");
@import url("./desktop/themes.css");

div.fts {
  background-position: center;
  background-size: cover;
  background-image: url("../assets/bg/img10.png");
  opacity: 0;
  transition: opacity 0.4s;
}

div.fts *:not(.material-icons) {
  font-family: "Inter", sans-serif;
}

div.fts.show {
  opacity: 1;
}

div.fts > div.center-absolute {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
  padding: 40px;
  color: #ccc;
  background-color: var(--glass-bg);
  overflow: hidden;
  border: var(--win-border);
}

div.fts div.center-absolute div.left,
div.fts div.center-absolute div.right {
  position: absolute;
  top: 0px;
  height: 100%;
  box-sizing: border-box;
}

div.fts div.center-absolute div.left {
  width: 35%;
  border-right: var(--win-border);
  left: 0px;
  padding: 15px;
  backdrop-filter: blur(var(--glass-blur));
}

div.fts div.center-absolute div.left div.state {
  padding: 10px 15px;
  opacity: 0.5;
}

div.fts div.center-absolute div.left div.state.activated {
  opacity: 1;
  font-weight: bold;
}

div.fts div.center-absolute div.left div.state.activated img {
  filter: unset;
}

div.fts div.center-absolute div.left div.state * {
  margin: 0;
  vertical-align: middle;
}

div.fts div.center-absolute div.left div.state img {
  height: 24px;
  margin-right: 10px;
  filter: grayscale(100%);
}

div.fts div.center-absolute div.right {
  right: 0px;
  top: 0px;
  background-color: var(--win-bg);
  height: 100%;
  width: 65%;
  padding: 20px;
}

div.page div.header * {
  margin: 0;
  font-weight: 100;
}

div.page div.header.centered {
  text-align: center;
  margin: 10px 0;
  margin-bottom: 30px;
}

div.page div.header.centered img {
  height: 100px;
  margin: 10px 0;
}

div.page div.header h1 {
  font-size: 23px;
  font-weight: bold;
}

div.page div.header.centered p.subtitle {
  margin-top: 10px;
}

div.page div.header p.subtitle {
  opacity: 0.4;
  margin: 0;
  margin-bottom: 5px;
}

div.fts div.center-absolute div.right * {
  color: #ccc;
}

div.fts div.center-absolute div.right button {
  padding: 10px 20px;
  border: none;
  background-color: #fff1;
  border-radius: 5px;
  transition: background-color 0.3s, opacity 0.3s;
}

div.fts div.center-absolute div.right button:disabled {
  opacity: 0.3;
}

div.fts div.center-absolute div.right button.nopad {
  padding: 10px;
}

div.fts div.center-absolute div.right button.nopad span.material-icons {
  margin: 0;
}

div.fts div.center-absolute div.right div.nav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  height: 80px;
}

div.fts div.center-absolute div.right div.nav > div {
  padding: 20px;
  box-sizing: border-box;
}

div.fts div.center-absolute div.right div.nav div.alnr {
  margin-left: auto;
}

div.fts div.center-absolute div.right div.nav div.alc {
  text-align: center;
  vertical-align: middle;
}

div.fts div.center-absolute div.right div.nav div div.progress {
  height: 10px;
  display: block;
  padding: 0;
  margin: 15px 0;
  width: 100%;
  background-color: #fff1;
  border-radius: 5px;
  position: relative;
}

div.fts div.center-absolute div.right div.nav div div.progress div.inner {
  height: 100%;
  width: 10px;
  border-radius: inherit;
  background-color: deepskyblue;
  padding: 0;
  transition: width 0.5s;
}

button.fullwidth {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

button.fullwidth.option {
  padding: 20px !important;
  position: relative;
}

.fullwidth.centered {
  max-width: 65%;
  margin: 5px auto;
}

button.fullwidth.option::after {
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "Material Icons";
  content: "arrow_forward_ios";
}

div.fts button:hover {
  background-color: #fff2 !important;
}

div.fts button:active {
  opacity: 0.5;
}

div.fts input {
  border: none;
  background-color: #fff1;
  padding: 10px 15px;
  border-radius: 5px;
  transition: border 0.3s;
  border-bottom: transparent 2px solid;
  box-sizing: border-box;
}

div.fts input:focus {
  border-bottom: deepskyblue 2px solid;
}
div.fts input.fullwidth {
  width: 100%;
  display: block;
  margin-bottom: 5px;
}

.justified {
  text-align: justify;
}
