@import url("https://fonts.googleapis.com/css2?family=Inter&family=Source+Code+Pro&display=swap"); /* Source Code Pro, Inter */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Round"); /* Material Icons Round */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"); /* Material Icons Outlined */

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.centertext {
  text-align: center;
}

.fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

div#app *:not(.window) {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  outline: none !important;
}

div#app *:not(.window)::after,
div#app *:not(.window),
div#app *:not(.window)::before {
  transition: all 0.3s, color 0.1s;
}

.material-icons-round {
  vertical-align: middle;
  margin: 0 5px;
  font-size: calc(1.4em);
}

div.app {
  background-color: #000;
}

div#app {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.app.floating {
  top: 35px;
  left: 0px;
  width: calc(100% - 340px);
  height: calc(100% - 35px);
  overflow: hidden;
}
