@import url("./newlogin/background.css");
@import url("./newlogin/topbar.css");
@import url("./newlogin/darken.css");
@import url("./newlogin/loading.css");
@import url("./newlogin/page/existinguser.css");
@import url("./newlogin/page/selector.css");
@import url("./newlogin/password.css");

div.newlogin {
  background-color: #000;
  transition: opacity 0.3s;
  opacity: 0;
}

div.newlogin > * {
  opacity: 0;
  transition: opacity 0.4s;
}

div.newlogin.show > * {
  opacity: 1;
}

div.newlogin.show {
  opacity: 1;
}

div.newlogin *:not(.material-icons-round) {
  color: #ccc;
  font-family: var(--font), sans-serif;
}
