@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"].switch {
    width: 38px;
  }

  div.desktop:not(.sharp) input[type="checkbox"].switch {
    border-radius: 11px !important;
  }

  input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }

  input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }

  input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
}
