window#BugReports div.content div.issue-detail h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

window#BugReports div.content div.issue-detail p.context {
  margin: 10px 0;
}

window#BugReports div.content div.issue-detail p.ref {
  margin-bottom: 20px;
}

window#BugReports div.content div.issue-detail div.loading {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

window#BugReports div.content div.issue-detail div.loading img {
  height: 20px !important;
}
