window#MessagingApp div.body > div.content {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 240px);
}
window#MessagingApp div.body > div.content div.message-header {
  display: flex;
  padding: 5px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: var(--button-bg) 1px solid;
}

window#MessagingApp div.body > div.content div.message-header.editor {
  margin-bottom: 10px;
}

window#MessagingApp div.body > div.content div.message-header div.pfprenderer {
  margin-right: 10px;
}

window#MessagingApp div.body > div.content div.message-header p {
  margin: 0;
}

window#MessagingApp div.body > div.content div.message-header.editor p {
  line-height: 20px;
}

window#MessagingApp div.body > div.content div.message-header p.name {
  font-weight: bold;
  margin-top: 2px;
}

window#MessagingApp div.body > div.content div.message-header div.actions {
  margin-left: auto;
}

window#MessagingApp
  div.body
  > div.content
  div.message-header
  div.actions
  button {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
  margin-left: 3px;
  background-color: transparent;
  font-size: 18px;
}

window#MessagingApp
  div.body
  > div.content
  div.message-header
  div.actions
  button
  img {
  height: 20px;
}

window#MessagingApp div.body > div.content div.message-header p.id {
  opacity: 0.5;
}

window#MessagingApp
  div.body
  > div.content
  div.message-header
  div.context.singlerow
  > * {
  margin: 0;
}

window#MessagingApp div.body > div.content div.markdownrenderer {
  flex-grow: 1;
  overflow-y: scroll;
  word-break: keep-all;
}

window#MessagingApp div.body > div.content div.target-wrapper {
  position: relative;
  border-bottom: var(--button-bg) 1px solid;
  padding-bottom: 5px;
}

window#MessagingApp div.body > div.content div.target-selector {
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

window#MessagingApp div.body > div.content div.target-selector:hover {
  background-color: var(--button-bg);
}

window#MessagingApp div.body > div.content div.target-selector div.current {
  display: flex;
}

window#MessagingApp
  div.body
  > div.content
  div.target-selector
  div.current
  > div:not(.pfprenderer),
window#MessagingApp div.body > div.content div.target-options button.user p {
  margin: 0 10px;
}

window#MessagingApp div.body > div.content div.target-selector p.header {
  font-weight: bold;
  margin-top: 1.5px;
}

window#MessagingApp div.body > div.content div.target-selector p {
  margin: 0;
}

window#MessagingApp div.body > div.content div.target-selector select {
  height: 25px;
  margin: 3.5px 0;
}

window#MessagingApp div.body > div.content div.target-selector::after {
  content: "expand_more";
  font-family: "Material Icons Round", sans-serif;
  font-size: 20px;
  right: 10px;
  line-height: 32px;
  position: absolute;
}
window#MessagingApp div.body > div.content div.target-options {
  position: absolute;
  background-color: var(--glass-bg);
  backdrop-filter: blur(var(--glass-blur));
  border: var(--button-bg) 1px solid;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  right: 0px;
  top: 0px;
  margin-top: -5px;
  max-height: 182px;
  overflow-y: scroll;
}

window#MessagingApp div.body > div.content div.target-options * {
  pointer-events: none;
}

window#MessagingApp div.body > div.content div.target-options.visible {
  opacity: 1;
  visibility: visible;
}

window#MessagingApp div.body > div.content div.target-options.visible * {
  pointer-events: initial;
}

window#MessagingApp div.body > div.content div.target-options button.user {
  display: flex;
  width: 100%;
  padding: 5px;
  margin: 0;
  line-height: 24px;
  background-color: transparent;
}

window#MessagingApp
  div.body
  > div.content
  div.target-options
  button.user:hover {
  background-color: var(--button-glass-bg);
}

window#MessagingApp div.body > div.content textarea {
  flex-grow: 1;
  color: var(--fg);
  background-color: transparent;
  resize: none;
  width: 100%;
  border: none;
  padding: 15px 10px;
  font-family: "Source Code Pro", monospace;
}
window#MessagingApp div.body > div.content div.markdownrenderer {
  padding: 10px 0;
  padding-top: 0;
}

window#MessagingApp div.body > div.content div.editor-send,
window#MessagingApp div.body > div.content div.reply-wrapper {
  border-top: var(--button-bg) 1px solid;
  padding: 10px;
  padding-bottom: 0;
  display: flex;
  line-height: 26px;
  margin: 0 -10px;
}

window#MessagingApp div.body > div.content div.reply-wrapper p {
  margin: 0 10px;
}

window#MessagingApp div.body > div.content div.editor-send div.view-group {
  overflow: hidden;
  height: 26px;
  width: 52px;
  border-radius: 5px;
  display: flex;
}

window#MessagingApp
  div.body
  > div.content
  div.editor-send
  div.view-group
  button.material-icons-round {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 26px;
  height: 26px;
}

window#MessagingApp
  div.body
  > div.content
  div.editor-send
  div.view-group
  button.material-icons-round.selected {
  background-color: var(--button-glass-hover-bg);
}

window#MessagingApp div.body > div.content div.editor-send div.right,
window#MessagingApp div.body > div.content div.reply-wrapper div.right {
  margin-left: auto;
}

window#MessagingApp div.body > div.content div.editor-send div.counter {
  display: inline-block;
  margin-left: 15px;
  opacity: 0.7;
}

window#MessagingApp
  div.body
  > div.content
  div.editor-send
  div.counter.critical {
  color: tomato;
}

window#MessagingApp div.body > div.content div.editor-send div.right button,
window#MessagingApp div.body > div.content div.reply-wrapper div.right button {
  margin: 0;
  margin-left: 5px;
}

window#MessagingApp div.body > div.content div.no-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

window#MessagingApp
  div.body
  > div.content
  div.no-content-wrapper
  div.no-content
  img {
  height: 48px;
}
window#MessagingApp
  div.body
  > div.content
  div.no-content-wrapper
  div.no-content
  p {
  max-width: 160px;
  word-wrap: break-word;
  word-break: keep-all;
}

window#MessagingApp
  div.body
  > div.content
  div.no-content-wrapper
  div.no-content
  p.header {
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
}
