@import url("./content/editor.css");

window#MessagingApp div.body > div.content {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 300px) !important;
}
window#MessagingApp div.body > div.content div.message-header {
  display: flex;
  padding: 15px;
  padding-bottom: 15px;
  border-bottom: var(--button-bg) 1px solid;
}

window#MessagingApp div.body > div.content div.message-header.editor {
  margin-bottom: 10px;
}

window#MessagingApp div.body > div.content div.message-header div.pfprenderer {
  margin-right: 10px;
}

window#MessagingApp div.body > div.content div.message-header p {
  margin: 0;
}

window#MessagingApp div.body > div.content div.message-header.editor p {
  line-height: 20px;
}

window#MessagingApp div.body > div.content div.message-header p.name {
  font-weight: bold;
  margin-top: 2px;
}

window#MessagingApp div.body > div.content div.message-header div.actions {
  margin-left: auto;
}

window#MessagingApp
  div.body
  > div.content
  div.message-header
  div.actions
  button {
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0;
  margin-left: 3px;
  background-color: transparent;
  font-size: 18px;
}

window#MessagingApp
  div.body
  > div.content
  div.message-header
  div.actions
  button
  img {
  height: 20px;
}

window#MessagingApp div.body > div.content div.message-header p.id {
  opacity: 0.5;
}

window#MessagingApp
  div.body
  > div.content
  div.message-header
  div.context.singlerow
  > * {
  margin: 0;
}

window#MessagingApp div.body > div.content div.markdownrenderer {
  flex-grow: 1;
  overflow-y: scroll;
  word-break: keep-all;
}

window#MessagingApp div.body > div.content textarea {
  flex-grow: 1;
  color: var(--fg);
  background-color: transparent;
  resize: none;
  width: 100%;
  border: none;
  padding: 15px 10px;
  font-family: "Source Code Pro", monospace;
}
window#MessagingApp div.body > div.content div.markdownrenderer {
  padding: 10px;
}

window#MessagingApp div.body > div.content div.editor-send,
window#MessagingApp div.body > div.content div.reply-wrapper {
  border-top: var(--button-bg) 1px solid;
  padding: 5px;
  display: flex;
  line-height: 26px;
  margin: 10px;
  border: var(--button-bg) 1px solid;
  border-radius: 10px;
}

window#MessagingApp div.body > div.content div.reply-wrapper p {
  margin: 0 10px;
}

window#MessagingApp div.body > div.content div.editor-send div.view-group {
  overflow: hidden;
  height: 28px;
  width: 58px;
  border-radius: 5px;
  display: flex;
}

window#MessagingApp
  div.body
  > div.content
  div.editor-send
  div.view-group
  button.material-icons-round {
  padding: 0;
  margin: 0;
  border-radius: 0;
  width: 29px;
  height: 29px;
}

window#MessagingApp
  div.body
  > div.content
  div.editor-send
  div.view-group
  button.material-icons-round.selected {
  background-color: var(--button-glass-hover-bg);
}

window#MessagingApp div.body > div.content div.editor-send div.right,
window#MessagingApp div.body > div.content div.reply-wrapper div.right {
  margin-left: auto;
}

window#MessagingApp div.body > div.content div.editor-send div.counter {
  display: inline-block;
  margin-left: 15px;
  opacity: 0.7;
}

window#MessagingApp
  div.body
  > div.content
  div.editor-send
  div.counter.critical {
  color: tomato;
}

window#MessagingApp div.body > div.content div.editor-send div.right button,
window#MessagingApp div.body > div.content div.reply-wrapper div.right button {
  margin: 0;
  margin-left: 5px;
}

window#MessagingApp div.body > div.content div.no-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

window#MessagingApp
  div.body
  > div.content
  div.no-content-wrapper
  div.no-content
  img {
  height: 48px;
}
window#MessagingApp
  div.body
  > div.content
  div.no-content-wrapper
  div.no-content
  p {
  max-width: 160px;
  word-wrap: break-word;
  word-break: keep-all;
}

window#MessagingApp
  div.body
  > div.content
  div.no-content-wrapper
  div.no-content
  p.header {
  margin: 10px;
  font-weight: bold;
  font-size: 16px;
}
