window#MessagingApp div.body div.listbar {
  padding: 0;
  display: flex;
  flex-direction: column;
}

window#MessagingApp div.body div.listbar div.header {
  height: 30px;
  border-bottom: var(--win-border);
  line-height: 30px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
}
window#MessagingApp
  div.body
  div.listbar
  div.header
  button.material-icons-round {
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

window#MessagingApp div.body div.listbar div.header p.title {
  margin: 0;
  font-weight: bold;
}

window#MessagingApp div.body div.listbar div.list {
  padding: 5px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: calc(100% - 30px);
}

window#MessagingApp div.body div.listbar button.message {
  display: flex;
  padding: 5px;
  text-align: left;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
  overflow: hidden;
}

window#MessagingApp div.body div.listbar button.message:hover,
window#MessagingApp div.body div.listbar button.message.selected {
  background-color: var(--button-glass-bg);
}

window#MessagingApp div.body div.listbar button.message:active {
  background-color: var(--button-glass-active-bg);
}

window#MessagingApp div.body div.listbar button.message div.pfprenderer {
  min-width: 26px;
  margin-right: 5px;
}

window#MessagingApp div.body div.listbar button.message div.timestamp {
  opacity: 0.6;
  font-weight: 100;
  font-size: 10px;
  margin-left: auto;
}

window#MessagingApp div.body div.listbar button.message div.content {
  max-width: calc(100% - 110px);
  flex-grow: 1;
}

window#MessagingApp div.body div.listbar button.message div.content * {
  margin: 0;
  font-size: 12px;
}

window#MessagingApp div.body div.listbar button.message div.content p.username {
  font-weight: bold;
}

window#MessagingApp div.body div.listbar button.message div.content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

window#MessagingApp div.body div.listbar button.message div.content p.partial {
  opacity: 0.5;
  font-size: 10px;
}

window#MessagingApp div.body div.listbar div.noitems {
  text-align: center;
  opacity: 0.5;
  margin: 10px;
}
