window#MessagingApp div.body div.sidebar {
  display: flex;
  flex-direction: column;
}

window#MessagingApp div.body div.sidebar button {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
  background-color: transparent;
  font-size: 16px;
}

window#MessagingApp div.body div.sidebar button:hover {
  background-color: var(--button-glass-bg);
}

window#MessagingApp div.body div.sidebar button:active {
  background-color: var(--button-glass-active-bg);
}

window#MessagingApp div.body div.sidebar button:not(.active) {
  opacity: 0.5;
}

window#MessagingApp div.body div.sidebar div.pfprenderer {
  margin-top: auto;
}
