window#MessagingApp > div.body {
  display: flex;
  padding: 0;
}

window#MessagingApp > div.body > div {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
}

window#MessagingApp > div.body > div.sidebar {
  min-width: 40px !important;
  width: 40px !important;
  border-right: var(--win-border);
}

window#MessagingApp > div.body > div.listbar {
  min-width: 250px !important;
  width: 250px !important;
  border-right: var(--win-border);
  padding: 5px;
}

window#MessagingApp > div.body > div.content {
  flex-grow: 1;
  background-color: var(--win-bg);
  word-break: break-all;
  overflow: hidden;
}
