window#FileManager div.listview button.item {
  width: 100%;
  height: 30px;
  display: flex;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  text-align: left;
  transition: none;
}

window#FileManager div.listview button.item div.image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

window#FileManager div.listview button.item div {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

window#FileManager div.listview button.item div.image img {
  height: 20px;
}

window#FileManager div.listview button.item div.name {
  width: 50%;
}

window#FileManager div.listview button.item div.mime {
  width: 25%;
  padding-right: 40px;
}

window#FileManager div.listview button.item.selected {
  background-color: var(--button-hover-bg);
}
