window#FileManager div.listview {
  height: 100%;
}

window#FileManager div.listview button.item {
  width: 100%;
  height: 30px;
  display: flex;
  margin: 0;
  padding: 5px;
  background-color: transparent;
  text-align: left;
  max-width: 850px;
  box-shadow: none;
}

window#FileManager div.listview button.item:hover {
  background-color: var(--button-glass-bg);
}

window#FileManager div.listview button.item div.image {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

window#FileManager div.listview button.item div {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

window#FileManager div.listview button.item div.image img {
  height: 20px;
}

window#FileManager div.listview button.item div.name {
  width: 50%;
}

window#FileManager div.listview button.item div.mime {
  width: 25%;
  padding-right: 40px;
}

window#FileManager div.listview button.item div.options {
  margin-left: auto;
  margin-right: 5px;
  display: none;
}

window#FileManager div.listview button.item button.material-icons-round {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-size: 16px;
}

window#FileManager div.listview button.item button.material-icons-round:hover {
  opacity: 0.7;
}

button.material-icons-round:active {
  opacity: 0.4;
}

window#FileManager div.listview button.item.selected div.options {
  display: block;
}

window#FileManager div.listview button.item.selected {
  /* background-color: var(--button-glass-bg); */
  position: relative;
}

window#FileManager div.listview button.item.selected::before {
  content: " ";
  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
  background-color: var(--accent);
}

window#FileManager div.listview button.item.cutting {
  opacity: 0.6;
}

window#FileManager div.listview div.items {
  height: calc(100% - 35px);
  overflow-y: scroll;
}

window#FileManager div.listview button.item.head * {
  font-weight: bold;
}

window#FileManager div.listview button.item.head div.name {
  width: calc(50% - 4px);
}

window#FileManager div.listview button.item.head div.image {
  width: 20px;
  height: 20px;
}
