div.tileview {
  overflow-y: scroll;
  height: 100%;
}

div.tileview div.folders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: var(--button-bg) 1px solid;
  margin-right: 10px;
}

div.tileview div.folders button {
  flex-grow: 1;
  max-width: 150px;
  display: flex;
  padding: 10px 15px !important;
  margin: 5px;
  height: 40px;
  text-align: left;
}

div.tileview div.folders button.selected {
  background-color: var(--button-hover-bg);
}

div.tileview button.cutting {
  opacity: 0.6;
}

div.tileview div.folders button img {
  margin-right: 10px;
  height: 20px;
}
div.tileview div.folders button p.name {
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  margin: 0;
  line-height: 20px;
}

div.tileview div.files {
  display: grid;
  grid-template-columns: repeat(auto-fit, 80px);
  grid-template-rows: repeat(auto-fit, 85px);
}

div.tileview div.files button {
  height: fit-content;
  margin-bottom: 12px;
  border: none;
  background-color: transparent;
  vertical-align: top;
  padding: 2px 5px !important;
  margin: 0 !important;
  margin-bottom: 12px !important;

  border-radius: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

div.tileview div.files button:not(:active):not(:hover):not(.selected) {
  background-color: transparent !important;
}

div.tileview div.files button:hover {
  background-color: var(--button-bg) !important;
}

div.tileview div.files button.selected {
  background-color: var(--button-hover-bg);
}

div.tileview div.files button img {
  height: 32px;
  margin: 0 8px;
}

div.tileview div.files button p.name {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.5em;
  margin: 0;
}
