@import url("./ui/topbar.css");
@import url("./ui/sidebar.css");
@import url("./ui/statusbar.css");
window#FileManager > div.body {
  padding: 0;
  z-index: 1;
}

window#FileManager > div.body div.content {
  position: absolute;
  width: calc(100% - 150px);
  height: calc(100% - 70px - 25px);
  box-sizing: border-box;
  background-color: var(--win-bg);
  top: 70px;
  right: 0px;
  margin-left: 0px;
  transition: all 0.3s, margin-left 0s;
  overflow-y: hidden;
  padding: 10px;
  padding-right: 5px;
  z-index: 0;
}

window#FileManager > div.body div.sidebar {
  position: absolute;
  width: 150px;
  height: calc(100% - 70px - 25px);
  box-sizing: border-box;
  top: 70px;
  left: 0px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  border-right: var(--win-border);
}

window#FileManager > div.titlebar {
  box-sizing: border-box;
  z-index: 3;
}

window#FileManager div.topbar {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 100%;
  max-width: 100%;
  height: 40px;
  z-index: 2;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  border-bottom: var(--win-border);
}

div.bigtitlebars window#FileManager div.topbar {
  top: 40px !important;
}

div.bigtitlebars window#FileManager > div.body div.content {
  height: calc(100% - 80px - 25px);
  top: 80px;
}

div.bigtitlebars window#FileManager > div.body div.sidebar {
  height: calc(100% - 80px - 25px);
  top: 80px;
}
