window div.body {
  height: calc(100% - 30px);
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 10px;
  overflow: auto;
  font-size: 13px;
  margin-top: 30px;
}

window:not(.custom):not(.headless):not(.glass) div.body {
  background-color: var(--win-bg);

  border-top: var(--button-bg) 1px solid;
}

window:not(.custom):not(.headless):not(.glass):not(.focused) div.body {
  border-top: transparent 1px solid;
}

window.headless div.titlebar {
  display: none;
}

window.headless div.body {
  height: calc(100%);
  margin-top: 0px;
}

window.fullscreen {
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0 !important;
  border: none !important;
  z-index: inherit;
  max-width: unset !important;
  max-height: unset !important;
  min-width: unset !important;
  min-height: unset !important;
  resize: none !important;
  transform: none !important;
}

window div.body div.center-flex {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

window div.body div.center-flex.text-center {
  text-align: center;
}

window div.body div.center-flex div.flex-stop {
  display: block;
}
