div.exp-cglo-31823 window.window:not(.fullscreen) div.accent {
  content: " ";

  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.2;
  pointer-events: none;
}

div.exp-cglo-31823
  window.window:not(.fullscreen).colored.focused.visible
  div.accent {
  background-color: var(--accent);
}
