@import url("./elements/checkbox.css");

window.window div.body button:not(.reset) {
  border: none;
  border-radius: var(--button-border-rad, 4px);
  padding: 5px 15px;
  background-color: var(--button-bg, #4a4a4a);
  color: var(--fg, #ccc);
  transition: opacity 0.2s, background-color 0.2s;
  font-size: 13px;
  margin: 2px;
}

window.glass div.body button:not(.reset) {
  background-color: var(--button-glass-bg, #fff1);
}

window.glass div.body button:not(.reset):hover {
  background-color: var(--button-glass-hover-bg, #fff3);
}

window.glass div.body button:not(.reset):active {
  background-color: var(--button-glass-active-bg, #0005);
}

window.window div.body button:not(.reset):hover {
  background-color: var(--button-hover-bg, #555555);
}

window.window div.body button:not(.reset):active {
  background-color: var(--button-active-bg, #2a2a2a);
}

window.window div.body button:not(.reset):disabled {
  opacity: 0.3;
}

window.window div.body input,
window.window div.body select {
  background-color: var(--win-bg);
  border: var(--win-border);
  color: var(--fg);
  border-radius: var(--button-border-rad, 4px);
  padding: 3.5px;
}

window.glass div.body input,
window.glass div.body select {
  background-color: var(--win-glass-bg);
}

window.window div.body h1,
window.window div.body h2,
window.window div.body h3,
window.window div.body h4,
window.window div.body h5 {
  margin: 5px 0;
}

window.window div.body p {
  margin: 3px 0;
  font-size: inherit;
}

window.window button.fullwidth,
window.window select.fullwidth,
window.window input.fullwidth {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 5px;
}

window.window a {
  color: var(--accent);
  text-decoration: none;
}
