.window {
  position: absolute;
  top: 50px;
  left: 50px;
  /* background-color: var(--win-bg, #353535); */
  background-color: var(--glass-bg);
  -webkit-backdrop-filter: blur(var(--glass-blur));
  backdrop-filter: blur(var(--glass-blur));
  color: var(--fg, #ccc);
  border-radius: var(--win-border-rad, 7.5px);
  border: var(--win-border, rgb(107, 107, 107) 1px solid);
  overflow: hidden;
  transition: all 0.25s, width 0s, height 0s, top 0s, left 0s, z-index 0s,
    pointer-events 0s;
  opacity: 0;
  visibility: hidden;
  transform: scale(90%);
  font-size: 13px;
  box-shadow: 0px 5px 15px 5px #0003;
  margin-top: 50px;
}

.window,
.window * {
  pointer-events: none !important;
}

window.overlay {
  background-color: var(--win-bg, #353535);
}

window.window.snapping {
  transform: scale(75%) translateY(-25%);
  opacity: 0.9;
}

window.window.snapped {
  min-width: unset !important;
  min-height: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  border-radius: 0 !important;
  resize: none;
}

window.custom {
  background-color: #000 !important;
  min-width: unset !important;
  min-height: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  position: absolute;
}

window.custom div.titlebar {
  display: none;
}

window.custom div.body {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.window.glass {
  background-color: var(--glass-bg, #353535a2);
  -webkit-backdrop-filter: blur(var(--glass-blur, 10px));
  backdrop-filter: blur(var(--glass-blur));
}

.window.max {
  max-width: unset !important;
  max-height: unset !important;
  min-width: unset !important;
  min-height: unset !important;
  border-radius: 0 !important;
  border: transparent 0px solid;
  resize: none !important;
  transition: all 0.2s;
}

div.desktop:not(.is-launcher):not([class*="tb-vertical"]) .window.max {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;
  height: calc(100% - 45px) !important;
}

div.desktop:not(.is-launcher).tb-vertical .window.max {
  top: 0px !important;
  left: 65px !important;
}

div.desktop:not(.is-launcher)[class*="tb-vertical"] .window.max {
  height: 100% !important;
  width: calc(100% - 65px) !important;
}

div.desktop:not(.is-launcher).tb-vertical-right .window.max {
  left: 0px !important;
  right: unset !important;
  top: 0px !important;
}

div.desktop.is-launcher .window.max:not(.fullscreen) {
  top: 32px !important;
  left: 0 !important;
  width: 100% !important;
  height: calc(100% - 32px) !important;
}

.window.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  margin-top: 00px;
}

.window.visible,
.window.visible * {
  pointer-events: initial !important;
}

.window.nobg {
  background-color: transparent;
}

.window.resizable {
  resize: both;
}

.window.min {
  opacity: 0 !important;
  margin-top: 20px;
  visibility: hidden;
  pointer-events: none;
}

.window.min window.overlay {
  opacity: 0 !important;
  margin-top: 20px !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

.window.min .overlay-wrapper {
  visibility: hidden !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.window.min .overlay-wrapper *,
.window.min * {
  pointer-events: none;
}

div.tbdocked:not(.is-launcher) .window.max {
  height: calc(100% - 45px) !important;
}

div.tbdocked:not(.is-launcher).tb-vertical .window.max {
  min-width: calc(100% - 45px) !important;
  left: 45px !important;
}

div.tbdocked:not(.is-launcher).tb-vertical-right .window.max {
  min-width: calc(100% - 45px) !important;
}

div.desktop:not(.is-launcher):not(.tbdocked):not([class*="tb-vertical"])
  .window.max {
  height: calc(100% - 65px) !important;
}

.window.exttransition {
  transition: all 0.2s;
}
