div.window {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: var(--win-bg, #353535);
  color: var(--fg, #ccc);
  border-radius: var(--win-border-rad, 7.5px);
  border: var(--win-border, rgb(107, 107, 107) 1px solid);
  overflow: hidden;
  transition: all 0.2s, width 0s, height 0s, top 0s, left 0s;
  opacity: 0;
  visibility: hidden;
  transform: scale(90%);
  font-size: 13px;
}

div.window.glass {
  background-color: var(--glass-bg, #353535a2);
  backdrop-filter: blur(var(--glass-blur, 10px));
}

div.window.max {
  top: 0px !important;
  left: 0px !important;
  width: 100% !important;

  max-width: unset !important;
  max-height: unset !important;
  min-width: unset !important;
  min-height: unset !important;
  border-radius: 0 !important;
  border: transparent 1px solid;
  resize: none !important;
  transition: all 0.2s;
}

div.window.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

div.window.nobg {
  background-color: transparent;
}

div.window.resizable {
  resize: both;
}

div.window.min {
  opacity: 0 !important;
  margin-top: 20px;
}

div.tbdocked div.window.max {
  height: calc(100% - 45px) !important;
}

div.desktop:not(.tbdocked) div.window.max {
  height: calc(100% - 65px) !important;
}

div.window.exttransition {
  transition: all 0.2s;
}
