@import url("./titlebar/controls.css");
@import url("./titlebar/title.css");
@import url("./titlebar/big.css");
@import url("./titlebar/left.css");

window div.titlebar div.controls button:active {
  opacity: 0.2;
}

window div.titlebar {
  height: 30px;
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  position: absolute;
  z-index: 100;
  background-color: var(--win-bg);
}

window:not(.focused) div.titlebar > * {
  opacity: 0.6 !important;
}

window div.titlebar * {
  vertical-align: middle;
}

window.focused div.titlebar {
  opacity: 1;
  background-color: transparent;
}

window.glass div.titlebar {
  background: transparent !important;
}
