/* div.launcher-bar.colored {
  border: transparent 1px solid !important;
} */

div.launcher-bar::after,
div.launcher-topbar::after {
  content: " ";

  border-radius: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none;
}

div.launcher-bar.colored::after,
div.launcher-topbar.colored::after {
  background-color: var(--accent);
}
